= javascript_include_tag "jquery"
= javascript_include_tag "admin-no-cms"
!!!
%html
  %head
    %script{:src => "/assets/application.js?body=1", :type => "text/javascript"}
    = csrf_meta_tag
  %body
    %h1 Emergency mode configuration
    %form#edit_mode{"accept-charset" => "UTF-8", :action => "/admin/modes/1", :method => "post", :novalidate => "novalidate"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "_method", :type => "hidden", :value => "put"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
      .field
        %label{:for => "em_mode"} Emergency Mode
        %br/
        %input#em_mode{ name: "mode[em_mode]", type: "checkbox", value: "1", checked: @mode.em_mode }
      %h2 Configure the Incident Bar
      .field
        %label{:for => "title"} Title
        %br/
        %input#title{:name => "mode[title]", :size => "30", :type => "text", :value => @mode.title}/
      .field
        %label{:for => "text"} Text
        %br/
        %input#text{:name => "mode[text]", :size => "30", :type => "text", :value => @mode.text}/
      %h2 Configure the Citizen Updates Feed
      .actions
        %input{:name => "commit", :type => "submit", :value => "Update Emergency Mode"}/