.main-content.updates
  .screen-intro
    %p.screen-info Configure the sources of your information feed.
    .action-area
      %a.btn.btn-primary{:href => "#"} Save Changes

  %form{:role => "form"}
    %h2 Official Updates
    .form-group
      %label{:for => "your-feed"} Your organization's Official Twitter feed <span class="help">(e.g. @SF_emergency)</span>
      %input.form-control#your-feed{:type => "text"}/
    
    / %h2 Partner Updates
    .form-group
      %label{:for => "partner-feed"} Partner Twitter feeds <span class="help">(e.g. @USGS, @RedCrossBayArea)</span>
      %input.form-control#partner-feed{:type => "text"}/

    / %h2 Transportation Updates
    .form-group
      %label{:for => "transportation-feed"} Relevant transport Twitter feeds <span class="help">(e.g. @511sfbay)</span>
      %input.form-control#transportation-feed{:type => "text"}/


  %a.btn.btn-primary{:href => "#"} Save Changes