.main-content.map
  .screen-intro
    %p.screen-info Embed a custom Google Crisis Map for your area.
    .action-area
      %a.btn.btn-primary{:href => "#"} Save Changes

  %form{:role => "form"}
    .row
      .form-group.map-link-container
        %label{:for => "map-link"} Crisis Map Link <span class="help">(starts with "http://")</span>
        %textarea.form-control#map-link{:name => "map-link", :cols => "55", :rows => "6"}

      .map-link-instructions
        %h2 Instructions to get the embed link:
        %ol 
          %li Set up your map (see <a href="#">instructions on city72tookit site</a>).
          %li Click the "Share" button to see the map links.
          %li  Copy the "Link" code to paste here.


    %h2 Twitter Timelines
    .row
      .timelines-container
        .form-group
          %label{:for => "your-feed"} Your Timeline ID <span class="help">(e.g. 98324529384524798)</span>
          %input.form-control#your-feed{:type => "text"}/

        .form-group
          %label{:for => "partner-feed"} Partner Timeline ID
          %input.form-control#partner-feed{:type => "text"}/

        .form-group
          %label{:for => "transportation-feed"} Transportation Timeline ID
          %input.form-control#transportation-feed{:type => "text"}/

        .form-group
          %label{:for => "hashtag-feed"} #YourCity72 Hashtag-Based Timeline ID
          %input.form-control#haghtag-feed{:type => "text"}/
      
      .timelines-instructions
        %h2 Instructions to get a Twitter timeline ID:
        %ol 
          %li Set up your map (see <a href="#">instructions on city72tookit site</a>).
          %li Click the "Share" button to see the map links.
          %li  Copy the "Link" code to paste here.

  .form-actions
    %input.btn.btn-primary{:type => "submit", :value => "Save Changes"}/