%img{src: "assets/00-home.png"}
%a{href:"connect", class:"link-mockup menu-connect"} connect
%a{href:"prepare", class:"link-mockup menu-prepare"} prepare
%a{href:"about", class:"link-mockup menu-about"} about