%div.main-container
	= render :partial => "partials/header"
	%img{src: "assets/05-stories.png"}
	%a.link-mockup.menu-prepare{href:"prepare"} prepare
	%a{href:"about", class:"link-mockup menu-about"} about
	%a{href:"story_detail", class:"link-mockup story-to-detail"} story detail