%img{src: "assets/05-stories.png"}
%a{href:"home", class:"link-mockup menu-home"} home
%a{href:"connect", class:"link-mockup menu-connect"} connect
%a{href:"prepare", class:"link-mockup menu-prepare"} prepare
%a{href:"about", class:"link-mockup menu-about"} about