.form-group(ng-hide="affiliate._destroy")
  %label.control-label
    Name of Affiliate 
    %span.help (name and corresponding URL)
  %input.form-control{:placeholder => 'Name'}(ng-model="affiliate.name")
  %a.btn.btn-danger.btn-sm(ng-click="removeAffiliate()")
    %i.glyphicon.glyphicon-remove
    Remove
  .input-group.input-md
    %span.input-group-addon http://
    %input.form-control(ng-model="affiliate.url")
