.modal.edit-element.edit-network.fade#networkModal
  %form{:role => "form", :name => "editNetworkForm"}(ng-submit="save()" novalidate)
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{type: "button"}(ng-click="cancel()") ×
          %h4.modal-title Edit Network
        .modal-body
          .form-group(ng-class="{'has-error': editNetworkForm.headline.$dirty && editNetworkForm.headline.$invalid}")
            %label.control-label{:for => "headline"}
              Network Headline
              %span.help (e.g. Sign up for Network)
            %input.form-control#network-headline{name: 'headline'}(ng-model="networkInEdition.headline" required)
            %span.help-block(ng-show="editNetworkForm.headline.$dirty && editNetworkForm.headline.$invalid")
              can't be blank
          .form-group
            %label{:for => "network-image"} Network Logo
            %input.form-control#network-image{:type => "file"}(file-input="logoFile")
          .form-group(ng-class="{'has-error': editNetworkForm.now.$dirty && editNetworkForm.now.$invalid}")
            %label.control-label{:for => "now"} Now
            %p.help-block A short description of how to use the network now. (e.g. set up your account and connect with friends.)
            %textarea.form-control#network-now{:name => "now", :cols => "90", :rows => "8"}(ng-model="networkInEdition.now" required)
            %span.help-block(ng-show="editNetworkForm.now.$dirty && editNetworkForm.now.$invalid")
              can't be blank
          .form-group(ng-class="{'has-error': editNetworkForm.in_an_emergency.$dirty && editNetworkForm.in_an_emergency.$invalid}")
            %label.control-label{:for => "in_an_emergency"} In an Emergency
            %p.help-block A short description of how to use the network in an emergency. (e.g. post your status and check on friends.)
            %textarea.form-control#network-emergency{:name => "in_an_emergency", :cols => "90", :rows => "8"}(ng-model="networkInEdition.in_an_emergency" required)
            %span.help-block(ng-show="editNetworkForm.in_an_emergency.$dirty && editNetworkForm.in_an_emergency.$invalid")
              can't be blank
          .form-group(ng-class="{'has-error': editNetworkForm.network_url.$dirty && editNetworkForm.network_url.$invalid}")
            %label.control-label{:for => "network_url"} Link to Network Website
            .input-group.input-md
              %span.input-group-addon http://
              %input.form-control#network-link{:type => "text", :name => 'network_url'}(ng-model="networkInEdition.network_url" required)
            %span.help-block(ng-show="editNetworkForm.network_url.$dirty && editNetworkForm.network_url.$invalid")
              can't be blank
        .modal-footer
          %button.btn.btn-primary{type: "submit"}(ng-disabled="editNetworkForm.$invalid") Save changes
          %button.btn{"data-dismiss" => "modal", type: "button"}(ng-click="cancel()") Cancel
        