.modal.edit-element.edit-partner.fade#resourceModal
  .modal-dialog.modal-lg
    .modal-content
      %form{:role => "form", :name => 'resourceForm'}(ng-submit="save()" novalidate)
        .modal-header
          %button.close{type: "button"}(ng-click="cancel()") ×
          %h4.modal-title Edit Partner/Resource Information
        .modal-body
          .form-group
            %label{:for => "partner-image"} Logo
            %input.form-control#partner-image{:type => "file"}(file-input="logoFile")
          .form-group(ng-class="{'has-error': resourceForm.name.$dirty && resourceForm.name.$invalid}")
            %label.control-label{:for => "partner-name"} Partner Name
            %input.form-control#partner-name{:name => 'name'}(ng-model="resourceInEdition.name" required)
            %span.help-block(ng-show="resourceForm.name.$dirty && resourceForm.name.$invalid")
              can't be blank
          .form-group(ng-class="{'has-error': resourceForm.description.$dirty && resourceForm.description.$invalid}")
            %label.control-label{:for => "partner-description"} Description of services
            %textarea.form-control#partner-description{:name => "description", :cols => "90", :rows => "8"}(ng-model="resourceInEdition.description" ng-maxlength="180" required)
            %span.help-block(ng-show="resourceForm.description.$error.required && resourceForm.description.$dirty")
              Can't be blank
            %span.help-block(ng-show="resourceForm.description.$error.maxlength")
              Must be 180 characters (~25 words) or fewer.

            
              
          .form-group(ng-class="{'has-error': resourceForm.website.$dirty && resourceForm.website.$invalid}")
            %label.control-label{:for => "partner-link"} 
              Website Link 
              %span.help (e.g. www.example.com)
            .input-group.input-md
              %span.input-group-addon http://
              %input.form-control#partner-link{:name => 'website'}(ng-model="resourceInEdition.website" required)
            %span.help-block(ng-show="resourceForm.website.$dirty && resourceForm.website.$invalid")
              can't be blank
        .modal-footer
          %button.btn.btn-primary{type: "submit"}(ng-disabled="resourceForm.$invalid") Save changes
          %button.btn{type: "button"}(ng-click="cancel()") Cancel
