.footer
	.footer-top
		%p.by-line Brought to you by the San Francisco Department of Emergency Management, in partnership with the people of San Francisco. <a href="http://sfdem.org">sfdem.org</a>
		.social
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.sf72.org/">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.sf72.org%2Fhome&amp;width=20&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:140px; height:21px;" allowTransparency="true"></iframe>
	.footer-bottom
		%ul
			%li.footer-section	
				%h2 More about SF72 + SFDEM
				%ul
					%li
						%a{href:"#"}About Us
					%li
						%a{href:"#"}Blog
					%li
						%a{href:"#"}Contact Us
			%li.footer-section	
				%h2 Resources and Partners
				%ul
					%li
						%a{href:"http://sfheroes.com/"}sfheroes.com
					%li 
						%a{href:"http://www.sf311.org/"}sf311.org
					%li
						%a{href:"http://shakeout.org"}shakeout.org
					%li
						%a{href:"http://sfgov.org/sfnert"}sfgov.org/sfnert
					%li
						%a{href:"http://alertsf.org"}alertsf.org
			%li.footer-section	
				%h2 Love us please!
				%ul
					%li
						%a{href:"#"}Facebook.com/SF72
					%li
						%a{href:"#"}Twitter.com/SF72