.header
	%h1.logo
		%a{href:"home"} SF72
	.main-nav
		%li
			%a{href:"connect"}
				%strong Connect
				%span Give a Little, Get a lot
		%li
			%a{href:"prepare"}
				%strong Prepare
				%span Know what to do
		%li
			%a{href:"about"}
				%strong About SF72
				%span The who and the what