.header
	%h1.logo
		%a{href:"/home"} SF72
	.main-nav
		%li
			%a{href:"/connect"}
				%strong Connect
				%span The SF72 Mobile App
		%li
			%a{href:"/prepare"}
				%strong Prepare
				%span Stories, tools &amp; resources
			%ul.submenu
				%li
					%a{href:"/stories"} People
				%li
					%a{href:"/things"} Things
		%li
			%a{href:"/about"}
				%strong About SF72
				%span The vision behind SF72