.header
  %a.logo{href:"/home"}
    #logo{ height: "100", width: "150"}
      %img{src: "/assets/sf72-logo.png"}
  %a.logo-mobile{href:"/home"}
  %ul.main-nav
    %li
      %a{href:"/prepare"}
        %strong Prepare
      %ul.submenu
        %li
          %a{href:"/stories"} Stories
        %li
          %a{href:"/supplies"} Supplies
    %li
      %a{href:"/connect"}
        %strong The App
        %span The SF72 mobile app
    %li
      %a{href:"/about"}
        %strong About Us
    %li.em-link
      %a{href:"/em/home"}
        %strong Crisis Mode
        %span In an emergency, this site will provide live updates and crisis tools.<br />Preview
  .mobile-menu
    .normal-mode
      %ul.main-nav
        %li
          %a{href:"/home"}
            %strong Home
        %li
          %a{href:"/prepare"}
            %strong Prepare
        %li
          %a{href:"/connect"}
            %strong The App
        %li
          %a{href:"/about"}
            %strong About Us
      .menu-mobile-heading Crisis mode
      %ul.main-nav
        %li.js-button-li
          %a{href:"/em/home#mobile-quick-guide"}
            %strong What to do
        %li.js-button-li
          %a{href:"/em/home#mobile-maps"}
            %strong Map
        %li.js-button-li
          %a{href:"/em/home#mobile-updates"}
            %strong Updates
    .crisis-mode{style: "display:none" }
      %ul.main-nav
        %li.js-button-li
          %a{href:"/em/home#mobile-quick-guide"}
            %strong What to do
        %li.js-button-li
          %a{href:"/em/home#mobile-maps"}
            %strong Maps
        %li.js-button-li
          %a{href:"/em/home#mobile-updates"}
            %strong Updates
      .menu-mobile-heading Emergency Tools
      %a.try-demo{href:"/em/home"} Try demo
      %ul.main-nav
        %li
          %a{href:"/"}
            %strong Home
        %li
          %a{href:"/prepare"}
            %strong Prepare
        %li
          %a{href:"/connect"}
            %strong The App
        %li
          %a{href:"/about"}
            %strong About SF72
