.header
  %a.logo{href:"/home"}
    #logo{ height: "100", width: "150"}
      %img{src: "/assets/sf72-logo.png"}
  %a.logo-mobile{href:"/home"}
  %ul.main-nav
    %li
      %a{href:"/prepare"}
        %strong Prepare
      %ul.submenu
        %li
          %a{href:"/stories"} Stories
        %li
          %a{href:"/things"} Supplies
    %li
      %a{href:"/connect"}
        %strong The App
    %li
      %a{href:"/about"}
        %strong About SF72
      %ul.submenu
        %li
          %a{href:"/about"} The vision
        %li
          %a{href:"/our_manifesto"} Our manifesto
    %li.em-link
      %a{href:"/em/home"}
        %strong Crisis Mode
        %span In an emergency check here for live news streams and resources.
  .mobile-menu
    .menu-mobile-heading SF72
    %ul.main-nav
      %li
        %a{href:"/"}
          %strong Home
      %li
        %a{href:"/connect"}
          %strong Connect
      %li
        %a{href:"/prepare"}
          %strong Prepare
      %li
        %a{href:"/about"}
          %strong About SF72

    .menu-mobile-heading Emergency Tools
    %a.try-demo{href:"/em/home"} Try demo
    %ul.main-nav
      %li
        %a{href:"/em/home#mobile-quick-guide"}
          %strong Quick Guide
      %li
        %a{href:"/em/home#mobile-maps"}
          %strong Maps
      %li
        %a{href:"/em/home#mobile-updates"}
          %strong Updates