.main-content.connections(ng-controller="CityConnectionController" ng-init="initializer('#{@city_connection_json}', '#{@all_networks_json}')")

  %form{:role => "form"}(name="connectionForm" novalidate ng-submit="updateConnection()")
    
    .screen-intro
      %p.screen-info Create tie-ins with social media tools, local networks and community resources
      .action-area
        %button.btn.btn-primary.ladda-button{:type => 'submit'}(ng-disabled="connectionForm.$invalid || updating" data-style="expand-left" ui-ladda="updating")
          %span.ladda-label Save Changes

    %h2 Social Networks and services
    %p Your City72 site will automatically include 3 digital connection networks: Facebook, Twitter, Google Drive

    .form-group(ng-class="{'has-error': connectionForm.facebook_page_url.$dirty && connectionForm.facebook_page_url.$invalid}")
      %label.control-label{:for => "fb-page"} Your Facebook Page
      .input-group.input-md
        %span.input-group-addon http://
        %input.form-control#fb-page{ :type => 'text', :name => 'facebook_page_url'}(ng-model="connection.facebook_page_url" required)
      %span.help-block(ng-show="connectionForm.facebook_page_url.$dirty && connectionForm.facebook_page_url.$invalid")
        can't be blank
    
    .row.twitter-accounts
      .form-group
        %label{:for => "tw-accounts"}What Twitter accounts are useful to follow in your area?
        %div(ng-repeat="twitterAccount in connection.twitter_accounts" ng-hide="twitterAccount._destroy")
          %input.form-control#tw-accounts{:placeholder => "@example"}(ng-model="twitterAccount.username")
          %a.btn-xs.btn.btn-danger(ng-click="removeTwitterAccount(twitterAccount)")
            %i.glyphicon.glyphicon-remove
        %a.add-btn.btn.btn-link(ng-click="addTwitterAccount()") + Add a Twitter feed
      .help-block
        %p.help-block-title Such as:
        %ul 
          %li Transportation authorities
          %li City agencies
          %li Reliable, trusted feeds focused on emergency updates
      

    %h2 Additional Networks
    %p What social networks or services would be useful community resources in your city? City72 is pre-populated with two (Nextdoor and AirBnb) in case you want to include them.
    
    .editable-list-container
      %ul.editable-list
        %li(ng-repeat="network in networks")
          %label.include-field{:for => "include-network-1"} 
            %input#include-network-1{:type => "checkbox", :checked => "checked"}
            %span Include this Network
          .list-element
            .logo.nextdoor
            %h3 {{network.headline}}
            %h4 Now:
            %p {{network.now}}
            %h4 In an Emergency:
            %p {{network.in_an_emergency}}
          .list-actions
            %button.btn{type: "button"}(ng-click="editNetwork(network)") Edit

      %a.add-btn{:href => "#"} + Add a Network

    %h2 Partners and Resources
    %p What local resources focus on community preparedness? What partners does your organization collaborate with? (e.g. your local Red Cross chapter)
    .editable-list-container
      %ul.editable-list
        %li
          %label.include-field{:for => "include-partner-1"} 
            %input#include-partner-1{:type => "checkbox", :checked => "checked"}/
            %span Include this Partner
          .list-element
            .logo.redcross
            %h3 American Red Cross
            %p Provides a variety of trainings including first aid, CPR, and how to prepare for emergencies
            %a{:href => "#"} www.redcross.org 
          .list-actions
            %button.btn{type: "button", data: {toggle:"modal", target:".edit-partner"}} Edit
    %a.add-btn{:href => "#"} + Add a Partner or Resource

    .form-actions
      %button.btn.btn-primary.ladda-button{:type => 'submit'}(ng-disabled="connectionForm.$invalid || updating" data-style="expand-left" ui-ladda="updating")
        %span.ladda-label Save Changes


  %edit-network-modal(network="networkInEdition")

/ MODAL: Edit Partner
.modal.edit-element.edit-partner.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Edit Partner/Resource Information
      .modal-body
        %form{:role => "form"}
          .form-group
            %label{:for => "partner-image"} Logo
            %input.form-control#partner-image{:type => "file"}/
          .form-group
            %label{:for => "partner-name"} Partner Name
            %input.form-control#partner-name{:type => "text"}/
          .form-group
            %label{:for => "partner-description"} Description of services
            %textarea.form-control#partner-description{:name => "partner-description", :cols => "90", :rows => "8"}
          .form-group
            %label{:for => "partner-link"} Website Link <span class="help">(e.g. www.example.com)</span>
            .input-group.input-md
              %span.input-group-addon http://
              %input.form-control#network-link{:type => "text"}/
      .modal-footer
        %button.btn.btn-primary{type: "button"} Save changes
        %button.btn{"data-dismiss" => "modal", type: "button"} Cancel
        
