= javascript_include_tag "jquery"
= javascript_include_tag "admin-no-cms"
!!!
%html
  %head
    = csrf_meta_tag
  %body
    %h1 Citizen feed configuration
    %form#edit_mode{"accept-charset" => "UTF-8", :action => "/admin/feeds/1", :method => "post", :novalidate => "novalidate"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "_method", :type => "hidden", :value => "put"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
      .field
        %label{:for => "widget_id"} Widget ID
        %br/
        %input#widget_id{:name => "feed[widget_id]", :size => "30", :type => "text", :value => @feed.widget_id}/
      .actions
        %input{:name => "commit", :type => "submit", :value => "Update Emergency Mode"}/