.main-content.plan
  .screen-intro
    %p.screen-info Select an emergency to provide customized preparation instructions. 
    .action-area
      %a.btn.btn-primary{:href => "#"} Save Changes

  %form{:role => "form"}
    .form-group
      %label{:for => "community-image"} Community Image
      %input.form-control#community-image{:type => "file"}/
      %p.help-block Optionally, choose an evocative image of life in your city.

    .form-group
      %label{:for => "select-plan"} What type of emergency is your area most at risk for? 
      .radio
        %label{:for => "emergency-type-1"}
          %input.form-control#emergency-type-1{:type => "radio", :name => "emergency-type", :selected}/ Earthquake
      .radio
        %label{:for => "emergency-type-2"}
          %input.form-control#emergency-type-2{:type => "radio", :name => "emergency-type"}/ Hurricane
      .radio
        %label{:for => "emergency-type-3"}
          %input.form-control#emergency-type-3{:type => "radio", :name => "emergency-type"}/ Flood

  %a.btn.btn-primary{:href => "#"} Save Changes 