= provide(:title, 'About Us')
.main-container.about
	= render :partial => "partials/header"
	.opening.about-intro
		%h1 <span class="to-replace-abr">City</span>72 is for us,</br>by us.
		%div
			%p Our mission is to enable <span class="to-replace-moniker">Citizens</span> to get prepared. <span class="to-replace-abr">City</span>72 was created by the <span class="to-replace-name">Your City</span> Department of Emergency Management, with feedback and ideas from the people of <span class="to-replace-name">Your City</span>. The best way to do this is for us to get connected to each other and share resources. 	
	.intro-row
		.main-intro
			%h2 Our manifesto.
			%p At <span class="to-replace-abr">City</span>72, we believe in connection, not catastrophe. We know that after a disaster, people come together. <span class="to-replace-abr">City</span>72 is about coming together before a disaster. Read our manifesto, rooted in the local quirks and characteristics that make our city special, to see how we can get connected.
		.aside
			.connect
				%strong We believe in connection,<br /> not catastrophe.
				%a.read-manifesto{href:'our_manifesto'} Read the <span class="to-replace-abr">City</span>72< Manifesto
	%ul.about-data
		%li
			.about-who
			%h2 Who
			%p For <span class="to-replace-abr">City</span>, by <span class="to-replace-abr">City</span>. <span class="to-replace-abr">City</span>72 was built by the City of <span class="to-replace-name">Your City/span>, in partnership with the citizens.
			%p <span class="to-replace-name">Your City</span> is like no other city – and this platform is tailored to the particular quirks, context and people that make up our city by the bay.
		%li
			.about-what
			%h2 What
			%p A people-centered vision of emergency preparedness. Nobody likes to think about emergencies, but <span class="to-replace-abr">City</span>72 takes the mystery out of the process of getting prepared. We do this by telling human stories and providing tools that fit into your daily life. 
			%p <span class="to-replace-abr">City</span>72 is not a new social network. It’s a platform designed to plug into your existing networks – whether social or digital.
		%li
			.about-why
			%h2 Why
			%p A little now will mean a lot later. Small actions have a huge impact; connecting with your network, downloading an app, or watching a video is the first step towards being better prepared for an emergency. 
			%p Leave it to <span class="to-replace-name">Your City</span> to lead the charge for a different kind of emergency prep. Let’s start the movement.
	= render :partial => "partials/footer"