= javascript_include_tag "about"
.main-container.about
	= render :partial => "partials/header"
	.page-intro
		.big-title
			%h1 About
			%span The who and the what
			.tooltip 
				.tooltip-content <strong>Bills, bills, bills.</strong> Keep small bills on hand with your supplies. 
		
		.intro-row
			.main-intro
				%h2 The vision behind SF72.
				%p If we can be prepared for the first 72 hours after a disaster, we will be ready for an emergency, no matter what form it takes. SF72 is a new platform for emergency preparedness. In fact, it’s just as San Franciscan as curbing your wheels, keeping a costume box, or not thinking twice when a naked dude strolls down the street next to you.
			.aside
				.connection
					%strong We believe in connection, not catastrophe.
					%a.read-manifesto{href:'our_manifesto'} Read the SF72 Manifesto
	%ul.about-data
		%li
			%img{src:'/assets/static/about-us-1.jpg'}
			%h2 Who
			%p For SF, by SF. SF72 was built by the City of San Francisco, in partnership with the citizens.
			%p San Francisco is like no other city &mdash; and this platform is tailored to the particular quirks, context and people that make up our city by the bay.
		%li
			%img{src:'/assets/static/about-us-3.jpg'}
			%h2 What
			%p A people-centered vision of emergency preparedness. Nobody likes to think about emergencies, but SF72 takes the mystery out of the process of getting prepared. We do this by telling human stories and providing tools that fit into your daily life. 
			%p SF72 is not a new social network. It&apos;s a platform designed to plug into your existing networks – whether social or digital. 
		%li
			%img{src:'/assets/static/about-us-4.jpg'}
			%h2 Why
			%p A little now will mean a lot later. Small actions have a huge impact; connecting with your network, downloading an app, or watching a video is the first step towards being better prepared for an emergency. 
			%p Leave it to San Francisco to lead the charge for a different kind of emergency prep. Let&apos;s start the movement.
	.contact-block
		.contact-heading
			%h3
				%strong Have thoughts? Send them our way.
				%span After all, SF72 belongs to all of us.
		.contact-form
			%input.name{ placeholder: "Your name" }
			%input.from-email{ placeholder: "Your email" }
			%textarea.message{ placeholder: "Tell us about it." }
			%input.send{ type: "button", value: "Submit" }
			%span.sending-notification Sending&hellip;
			-if @render_captcha
				=show_simple_captcha(:label => "", :placeholder => "")
		.successful-response-container
			%p Thanks!
			%p Your feedback makes it better for all of us.
		.error-response-container
			%p
= render :partial => "partials/footer"