.main-container.about
  = render :partial => "partials/header"
  .page-intro
    .big-title
      %h1 About
      %span The who and the what
    %h2 Title for the about section.
    %p People are most resilant in emergencies when they are connected to others. Getting prepared for emergencies is simple and effective when you do it with friends and family. There are lots of ways to get connected. Choose the one that’s best for you.
= render :partial => "partials/footer"