= provide(:title, 'About Us')
.main-container.about
	= render :partial => "partials/header"
	.opening.em-plan
		%h1 SF72 is for us,</br>by us.
		%div
			%p Our mission is to enable San Franciscans to get prepared. SF72 was created by the San Francisco Department of Emergency Management, with feedback and ideas from the people of San Francisco. The best way to do this is for us to get connected to each other and share resources. 	
	.intro-row
		.main-intro
			%h2 Our manifesto.
			%p At SF72, we believe in connection, not catastrophe. We know that after a disaster, people come together. SF72 is about coming together before a disaster. Read our manifesto, rooted in the local quirks and characteristics that make our city special, to see how we can get connected.
		.aside
			.connect
				%strong We believe in connection,<br /> not catastrophe.
				%a.read-manifesto{href:'our_manifesto'} Read the SF72 Manifesto
	%ul.about-data
		%li
			.about-who
			%h2 Who
			%p For SF, by SF. SF72 was built by the City of San Francisco, in partnership with the citizens.
			%p San Francisco is like no other city – and this platform is tailored to the particular quirks, context and people that make up our city by the bay.
		%li
			.about-what
			%h2 What
			%p A people-centered vision of emergency preparedness. Nobody likes to think about emergencies, but SF72 takes the mystery out of the process of getting prepared. We do this by telling human stories and providing tools that fit into your daily life. 
			%p SF72 is not a new social network. It’s a platform designed to plug into your existing networks – whether social or digital.
		%li
			.about-why
			%h2 Why
			%p A little now will mean a lot later. Small actions have a huge impact; connecting with your network, downloading an app, or watching a video is the first step towards being better prepared for an emergency. 
			%p Leave it to San Francisco to lead the charge for a different kind of emergency prep. Let’s start the movement. 
	= render :partial => "partials/footer"