.main-container.connect
	= render :partial => "partials/header"
	.page-intro
		.big-title
			%h1 Connect
			%span Give a little, get a lot
			.tooltip
				.tooltip-content <strong>1/2 full?</strong> or half empty, depending on how your day is going.
		%h2 Preparedness is all about people.
		%p People are most resilant in emergencies when they are connected to others. Getting prepared for emergencies is simple and effective when you do it with friends and family. There are lots of ways to get connected. Choose the one that’s best for you.
	.app-signup
		.app-details
			%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a euismod nisl, vel tempor massa. In at tortor eu mauris fringilla dignissim nec quis velit. Pellentesque eu orcised neque consectetur cursus.
			%p Donec eleifend porta turpis ultrices laoreet. Curabitur vulputate, tellus sed sollicitudin interdum, risus sapien dictum turpis, non euismod elit quam vitae dolor. Vestibulum at neque mauris. Fusce vel augue lectus. Donec eleifend porta arcu.
			%a.btn Sign up
		.app-video
	%ul.in-context
		%li
			%img{src: "http://placekitten.com/458/324"}
			%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a euismod nisl, vel tempor massa. In at tortor eu mauris fringilla dignissim nec quis velit. Pellentesque eu orcised neque consectetur cursus.
		%li
			%img{src: "http://placekitten.com/458/324"}
			%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a euismod nisl, vel tempor massa. In at tortor eu mauris fringilla dignissim nec quis velit. Pellentesque eu orcised neque consectetur cursus.
= render :partial => "partials/footer"