= javascript_include_tag "mailchimp"
.main-container.connect
  = render :partial => "partials/header"
  .opening
    %h1 Preparedness is all about people
    %div
      %p People are most resilient when connected to others in a crisis. What digital networks and groups do you belong to? These might be the people that you lean on in an emergency.
  .existing-networks
    .use
      %h2 Use your digital networks.
      %p.intro-networks In the event of an emergency, you will rely on your existing networks &ndash; both digital and physical. Think about the connections and communities you’re part of, so you can band together if something happens.
    .know
      %h3 Know what to do.
      %p Tips and tools for real emergency situations
      %a{ :href => "#", :title => "Meet the Team" } Read our blog
    %ul.networks-list
      %li.facebook
        %h3 Facebook
        %p <strong>Now</strong> Create a Facebook group with your inner circle so you can easily send messages, share supplies, and make a plan together.
        %p <strong>In an emergency</strong> Post your status to let friends and family know that you are okay.
      %li.twitter
        %h3 Twitter
        %p <strong>Now</strong> Add emergency-related accounts to your Twitter feed, so you can stay informed. A few favorites: <a href="http://twitter.com/SF_Emergency">@SF_Emergency</a>, <a href="http://twitter.com/511SFBay">@511SFBay</a>, <a href="http://twitter.com/Emergency_In_SF">@Emergency_In_SF</a>.
        %p <strong>In an emergency</strong> Tweet updates about yourself and your surroundings. Use hashtag <a href="https://twitter.com/search?q=%23SF72">#SF72</a> to be included in our Crisis Mode feed.
      %li.airbnb
        %h3 Airbnb
        %p <strong>Now</strong> Create an Airbnb profile so you are ready to find or share a place to stay if anything happens.
        %p <strong>In an emergency</strong> Find a place to stay, or share your place with those in need.
  = render :partial => "partials/footer"