= javascript_include_tag "connect"
= javascript_include_tag "mailchimp"
.main-container.connect
  = render :partial => "partials/header"
  .page-intro
    .big-title
      %h1 SF72 App
      %span Connect with your people
      .tooltip
        .tooltip-content <strong>1/2 full?</strong> or half empty, depending on how your day is going.
    %h2 Preparedness is all about people.
    %p History has taught us one thing: people are most resilient in emergencies when they are connected to others. The kind of connections that are meaningful to us in everyday life become even more crucial during an emergency.
    %p But recent emergencies, including Sandy, Boston and Fukushima, have shown that there is also an emerging role for technology in emergency response. In fact, text messaging is one of the most reliable forms of communication in an emergency, since it is unlikely that all networks will go down.
    %p The SF72 app is designed to bring together these two simple facts. 
  .app-signup
    .app-title
      %h3.coming-soon Coming Soon!
      %h3 The SF72 App
    .app-video
    .app-details
      %p In just 5 minutes, the SF72 app will hook you up with everything you need to immediately get connected in the event of an emergency. Start with yourself. Share with five friends. Watch the strength of our city grow from there.
      %strong Want to know when the SF72 App goes live? Sign up by email and we’ll keep you in the loop.
      .subscribe-form
        %input.email{type: "text", placeholder: "Notify me"}
        %input.submit{type: "submit", value: "Go"}
        / Begin MailChimp Signup Form
        %link{:href => "http://cdn-images.mailchimp.com/embedcode/classic-081711.css", :rel => "stylesheet", :type => "text/css"}/
        :css
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        #mc_embed_signup
          %form#mc-embedded-subscribe-form.validate{:action => "http://sf72.us6.list-manage1.com/subscribe/post?u=da2f717cb23345cc17718c642&id=a56b545c6c", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
            %h2 Subscribe to our mailing list
            .indicates-required
              %span.asterisk *
              indicates required
            .mc-field-group
              %label{:for => "mce-EMAIL"}
                Email Address
                %span.asterisk *
              %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => ""}/
            #mce-responses.clear
              #mce-error-response.response{:style => "display:none"}
              #mce-success-response.response{:style => "display:none"}
            .clear
              %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
  %ul.app-features
    %li
      %img{src: "http://placekitten.com/300/390"}
      %ul.features-detail
        %li Geo-tracks your location relative to your loved ones, so you can quickly find a meetup spot.
        %li Integrates with your existing social networks.
    %li
      %img{src: "http://placekitten.com/300/390"}
      %ul.features-detail
        %li Helps you send an emergency group text to your Inner Circle of friends. (SMS is the most reliable form of emergency communication, since it is unlikely that all networks will go down.)
    %li
      %img{src: "http://placekitten.com/300/390"}
      %ul.features-detail
        %li Aggregates emergency updates from around the city through both official city announcements, and crowdsourced updates from fellow citizens on the street.
        %li Shows where you can find nearby shelter, food, and community resources.
= render :partial => "partials/footer"