= javascript_include_tag "em"
.home-em
  .wrapper.em-header
    = render :partial => "partials/header"
  .alert-wide
    .wrapper
      .alert-info
        %h3
        %p
      .em-quick-guide-trigger
        %a.show-quick-guide{src:"#"} Show Quick Guide
        %a.hide-quick-guide{src: "#"} Hide Quick Guide
  .em-quick-guide
    .wrapper
      %h3 Quick Guide
      %ol.quick-guide
        %li
          %h2 Leave a trail.
          %p If you leave home, leave a sign telling friends and family your location. Digitaly savvy? Send a tweet or Facebook update telling everyone know that you’re ok.
        %li
          %h2 Stay tuned.
          %p Listen to the radio for important information and instructions. Remember that aftershocks, which generally follow large quakes, can be large enough to cause damage in their own right.

        %li
          %h2 Check SF72.
          %p In the event of an emergency, this site will go into emergency mode and bring you live updates and tweets from around the city, information on missing persons, and ways you can help.
  .map-container
    .wrapper
      .map-heading
        %h3 Crisis Map <a class="icon-refresh" href="#"></a>
      .map-actions
        %ul.social-media
          %li.twitter
            %a{onClick: "twitterShare()"}
              %span.icon-share-twitter
          %li.facebook
            %a{onClick: "facebookShare()"}
              %span.icon-share-fb
          %li.print
            %a{onClick: "window.print()"}
              %span.icon-print
          %li.email
            %a{href: "mailto:someone@example.com?Subject=Hello%20again", target:"_top"}
              %span.icon-mail
        %a.map-tips-trigger Show Map Tips
    .map-area
      %iframe.map{src: "http://google.org/crisismap/a/ideo.com/SF72test?hl=en&llbox=37.801668%2C37.791749%2C-122.409517%2C-122.42915&t=ROADMAP&layers=1%2Clayer0%2Clayer1&embedded=true", height: "400"}
  .tw-tabs-container
    %ul.tw-tabs
      %li.active
        %a{href:"#tab-citizen-updates"}
          .updates-count 12
          %h3 Citizen Updates
          %span Via Twitter
      %li 
        %a{href:"#tab-official-reports"}
          .updates-count 12
          %h3 Official Reports
          %span From SFDEM
      %li 
        %a{href:"#tab-service-status"}
          .updates-count 12
          %h3 Service Status
          %span 511 Priority Alerts
  .main-container
    .updates    
      .citizen-reports
        %ul.stream
          %li.tweet
            .tweet-avatar
              %img{src: "http://placekitten.com/95/95"}
            .tweet-body
              %h4 Neil deGrasse Tyson <span>@neiltyson</span>
              %p No power on Valencia between 21st and 22nd. Traffic jams at the intersection. #sfquake http://ow.ly/l6778Yj
              %span.date 12 min ago
          %li.tweet
            .tweet-avatar
              %img{src: "http://placekitten.com/95/95"}
            .tweet-body
              %h4 Neil deGrasse Tyson <span>@neiltyson</span>
              %p No power on Valencia between 21st and 22nd. Traffic jams at the intersection. #sfquake http://ow.ly/l6778Yj
              %span.date 12 min ago 
          %li.tweet
            .tweet-avatar
              %img{src: "http://placekitten.com/95/95"}
            .tweet-body
              %h4 Neil deGrasse Tyson <span>@neiltyson</span>
              %p No power on Valencia between 21st and 22nd. Traffic jams at the intersection. #sfquake http://ow.ly/l6778Yj
              %span.date 12 min ago 
        %a.btn-rounded{href: "#"} Show more
      .official-reports
      .status
        %h3 Service Status
        %h4 511 Priority Alerts
        %ul.alerts-list
          %li
            %h2 Capitol Corridor Systemwide Delays
            %p On Thursday, July 11th, at 10:37am, trains are delayed systemwide due to a bridge delay between Martinez and Suisun&hellip;
            %a{src: "#"} See Details
          %li
            %h2 Capitol Corridor Systemwide Delays
            %p On Thursday, July 11th, at 10:37am, trains are delayed systemwide due to a bridge delay between Martinez and Suisun&hellip;
            %a{src: "#"} See Details
          %li
            %h2 Muni Delays
            %p J and F Lines out of service. N Judah is being restarted now.
            %a{src: "#"} See Details
        %h4 Other City Feed
= render :partial => "partials/footer"