= javascript_include_tag "home"
.main-container.home
  = render :partial => "partials/header"
  .page-intro
    .big-title
      %h1 San Francisco gets prepared.
  .questions
    %ul
      %li
        %h2 What is SF72?
        %span SF72 is your hub for emergency preparedness. Find basic information, simple steps and useful tools.
      %li
        %h2 Why 72?
        %span A preparedness rule of thumb is to be able to manage for 72 hours, or three days, before help arrives. It’s just nine meals – or a long weekend.
  .connection
    %div
      %h2 We believe in connection,</br>not catastrophe.
      %span In addition to the standard supplies, certain things will help you—and only you—manage during an emergency. Set aside a few items that will give you and your family extra comfort.
  .learn
    %h1 You’re more prepared than you think.</br>Learn more. 
    %ul
      %li.learn-connect
        %h2 Get</br>Connected
        %span Take the mystery out of getting prepared and ﬁnd tips, tools, and resources
      %li.learn-supplies
        %h2 Gather</br>Supplies
        %span Take the mystery out of getting prepared and ﬁnd tips, tools, and resources
      %li.learn-plan
        %h2 Make</br>a Plan
        %span Take the mystery out of getting prepared and ﬁnd tips, tools, and resources
  = render :partial => "partials/footer"