:javascript
  makeCorsRequest(window.location.origin + "/em", function(xhr){
    var response = $.parseJSON(xhr.responseText)
    if(response.em_mode) {
      window.location = window.location.origin + "/em/home";
    }
  })
.main-container.home
  = render :partial => "partials/header"
  .intro-video
    %iframe.video-opening{src: "http://player.vimeo.com/video/57727292"}
    %ul.social-media
      %li.twitter
        %a{onClick: "twitterShare()"}
          %span.icon-share-twitter
      %li.facebook
        %a{onClick: "facebookShare()"}
          %span.icon-share-fb
  .intro-row
    .main-intro
      %h2 We believe in connection,<br /> not catastrophe.
      %p Here&apos;s the thing: actual emergencies look more like people coming together than cities falling apart. In fact, people who are more connected fare better in the face of crisis.
      %p SF72 is a new platform, designed to help San Francisco build connections and prepare for emergencies before something happens to the city we love. This way, we can act swiftly, safely and efficiently if disaster strikes. And we can show the world just how connected we are.
    %a.intro-app
      %span In the event of an emergency, this site will go into emergency mode, becoming a hub where you can access live updates from around the city and locate nearby resources and shelters.
      %strong Preview the SF72 <br />Emergency Mode.
  %ul.col-3
    %li
      .my-people
      %h4 The tools
      %p SF72 takes the mystery out of emergency preparation, and makes it simple, local, and human. This site contains real stories – and insights – from people who have survived emergencies around the world, tips for how to build your kit, and a guide for how to share the love. <a href="prepare">Check out the SF72 Prepare resources.</a>
    %li
      .my-stuff
      %h4 The app
      %p The SF72 App helps you leverage your existing networks, easily get in touch with loved ones, and keep tabs on the status of the city. <a href="connect">Learn more about the SF72 App.</a>
    %li
      .near-me
      %h4 The vision
      %p If we can be prepared for the first 72 hours after a disaster, we will be ready for an emergency, no matter what form it takes. 72 hours might seem like a lot, but that’s really only nine meals. It’s just a long weekend. <a href="about">Explore the vision behind SF72.</a>
      
= render :partial => "partials/footer"