%div.main-container.home
	= render :partial => "partials/header"
	.intro-video
		.tooltip Check out what this page will look like in the event of an emergency
		%iframe.video-opening{src: "http://player.vimeo.com/video/57727292"}
		%ul.social-media
			%li.twitter
				%a{href: "http://twitter.com/share?text=The%20San%20Francisco%20Manifesto%20from%20SF72.org:&url=http://sf72.org"} Twitter
			%li.facebook
				%a{href: "http://facebook.com"} Facebook
	.intro-row
		.main-intro
			%h2 We believe in connection,<br /> not catastrophe.
			%p Here’s the thing: actual emergencies look more like people coming together than cities falling apart.
			%p If we can be prepared for the first 72 hours after a disaster, we will be ready for an emergency, no matter what form it takes. 72 hours might seem like a lot, but that's really only nine meals. It's just a long weekend.
		%a.intro-app
			%strong Learn about the SF72 app
			%span Find your loved ones in an emergency.
	%ul.col-3
		%li
			.my-people
			%h4 SF72 App
			%p People are most resilant in emergencies when they are connected to others. We'll help you connect through the networks you already have. 
		%li
			.my-stuff
			%h4 Prepare
			%p Don’t just prepare to help yourself. Prepare so that your family, your loved ones, or your neighbors will have a shoulder to lean on in the event of a disaster.
		%li
			.near-me
			%h4 Title
			%p If disaster strikes, SF72.org will go into emergency mode – you can access live updates and tweets from around the city, check for missing persons, and learn about how you can help.
			
= render :partial => "partials/footer"