.main-container.connect
  = render :partial => "partials/header"
  .opening
    %h1 Preparedness is all about people
    %div
      %p People are most resilient when connected to others in a crisis. What digital networks and groups do you belong to? These might be the people that you lean on in an emergency.
  = render :partial => "partials/footer"