.main-container.prepare
  = render :partial => "partials/header"
  .page-intro
    .big-title
      %h1 Prepare
      %span Know what to do
      .tooltip 
        .tooltip-content <strong>1/2 full?</strong> or half empty, depending on how your day is going.
    %h2 Protect your happy place.
    %p Don’t just prepare to help yourself. Prepare so that your family, your loved ones, or your neighbors will have a shoulder to lean on in the event of a disaster. A thousand tiny acts of preparation can have just as much impact as the bunkers, the hardhats, and the cellars full of food. So let’s take action.
    %p Let’s be the city that starts the ripple.
    .make-plan
      %h2 Make a plan.
      %p A little foresight can go a long way. Make a meetup plan with your inner circle—whether friends, relatives, or immediate family.
      %a{href: "#"} Download the pdf
  .prepare-sections
    %a.prepare-things{href:"things"}
      %h2 Find out what's essential
      %p Getting emergency supplies together is easier than you think. If you’re a beginner, start with the essentials, and collect things you already have in a central place.
      %strong Go to supplies
  %div.existing-networks
    %h2 Use your networks
    %p.intro-networks In the event of an emergency, you will rely on your existing networks – both digital and physical. Take a moment to think about the connections and communities you’re part of; so you can rally together if and when something happens.
    %ul.networks-list
      %li.facebook
        %h3 Facebook
        %p <strong>Now</strong> Create a Facebook group with your inner circle of locals  so you can easily send messages, share supplies, and make a plan together.
        %p <strong>In an emergency</strong> Post your status to Facebook to let friends and family know that you are ok.
      %li.twitter
        %h3 Twitter
        %p <strong>Now</strong> Add emergency accounts to your Twitter feed, to stay informed. Some of our favorites: SFDEM, 511, and Emergencies in SF.
        %p <strong>In an emergency</strong> Post about yourself and your area. Use #sf72 to include them in the Crisis Mode feed.
      %li.airbnb
        %h3 Airbnb
        %p <strong>Now</strong> Create an AirBnB profile so you are ready to find or share a place to stay if anything happens.
        %p <strong>In an emergency</strong> Find a place to stay, or share your place with those in need.
  .prepare-sections
    %a.prepare-people{href:"stories"}
      %h2 Reach out to your communities
      %p What communities are already a part of your life? Your yoga studio, local market, or apartment building might be the perfect place to find support in the event of an emergency.
      %p Hear stories about local community hubs and how they might provide everything from blankets to bourbon in a crisis. 
      %strong Go to stories
  .talk-to-friends
    %h2 Talk to your friends
    %p Spread the word about preparedness to your communities, friends, or families. Monthly book club? Neighborhood listserv? Dinner with friends? All of these are great opportunities to bring preparedness—and connection—to the table.
    %p.small Coming Soon! The SF72 Community Connector Order SF72 materials (brochures, stickers, stencils) to spread the word about preparedness and get connected in your network or neighborhood.
= render :partial => "partials/footer"
.basics
  .modal
    %h4 Quake Basics
    %h2.modal-title During a quake
    %ol.quick-guide
      %li
        %h2 Drop, cover and hold.
        %p Duck under a strong table or desk. Cover your head and neck with your arms against an interior wall. Stay away from windows.
      %li
        %h2 Stay calm.
        %p Keep calm and carry on. Keeping your wits about you will ensure that you make safe choices for yourself and those around you.
      %li
        %h2 Stay put.
        %p Shelter in place–whether you’re in a car, in bed, or in a public place. Do not try to run out of the building during strong shaking, hold tight until the shaking stops. If you’re outdoors, steer clear of wires or falling objects.
    %h2.event-after After a quake
    %ol.quick-guide.second
      %li
        %h2 Leave a trail.
        %p If you leave home, leave a sign telling friends and family your location. Digitaly savvy? Send a tweet or Facebook update telling everyone know that you’re ok.
      %li
        %h2 Stay tuned.
        %p Listen to the radio for important information and instructions. Remember that aftershocks, which generally follow large quakes, can be large enough to cause damage in their own right.
      %li
        %h2 Check SF72.
        %p In the event of an emergency, this site will go into emergency mode and bring you live updates and tweets from around the city, information on missing persons, and ways you can help.
    .modal-share
      %p There’s safety in numbers. <br />Spread the word!
      %ul.share-options
        %li
          %a.print
        %li
          %a.email
        %li
          %a.facebook
  .modal-bg