%div.main-container.prepare
	= render :partial => "partials/header"
	.page-intro
		.big-title
			%h1 Prepare
			%span Know what to do
		.tooltip <strong>1/2 full?</strong> or half empty, depending on how your day is going.
		%h2 Protect your happy place.
		%p Don’t just prepare to help yourself. Prepare so that your family, your loved ones, or your neighbors will have a shoulder to lean on in the event of a disaster. A thousand tiny acts of preparation can have just as much impact as the bunkers, the hardhats, and the cellars full of food. So let’s take action. Let’s be the city that starts the ripple.
	%ul.col-2.prepare-sections
		%li
			%a.prepare-people{href:"stories"}
				%p Stories from people who have survived disasters – and advice on how to help your loved ones. Watch and Learn.
				%strong People
			%a.checklist Checklist for your people
		%li
			%a.prepare-things{href:"things"}
				%p It's easy to get your earthquake kit together, no matter your preparedness level. Get started.
				%strong Things
			%a.checklist Checklist for your kit
	.basics-intro
		%h2 Quake Basics
		%p What every San Franciscan should know about earthquakes.
	.basics-block
		%a.quick-guide-trigger{href: "#popup"}
			%h3 Read the quick guide
			%p A few easy steps to keep your cool when the earth shakes.
		.basics-video
			.video-future
			%strong Quake Quick Guide
			%span (3.50s)
	.alert-sf-block
		%h2 AlertSF.
		%p Get text updates and emergency information for San Francisco.
		%input.input-text{type: "text", placeholder: "Your number here."}
		%input.btn{type: "submit", value: "alerts only"}
		%input.btn.tips{type: "submit", value: "tips & alerts"}
	/%a{href:"stories", class:"link-mockup prepare-link-stories"} people
	/%a{href:"prepare", class:"link-mockup prepare-link-things"} things
= render :partial => "partials/footer"