.main-container.prepare
  = render :partial => "partials/header"
  .page-intro
    .big-title
      %h1 Prepare
      %span Know what to do
      .tooltip 
        .tooltip-content <strong>1/2 full?</strong> or half empty, depending on how your day is going.
    %h2 Protect your happy place.
    %p Don’t just prepare to help yourself. Prepare so that your family, your loved ones, or your neighbors will have a shoulder to lean on in the event of a disaster. A thousand tiny acts of preparation can have just as much impact as the bunkers, the hardhats, and the cellars full of food. So let’s take action.
    %p Let’s be the city that starts the ripple.
    .make-plan
      %h2 Make a plan.
      %p A little foresight can go a long way. Make a meetup plan with your inner circle—whether friends, relatives, or immediate family.
      %a{href: "#"} Download the pdf
  .prepare-sections
    %a.prepare-things{href:"things"}
      %h2 Find out what's essential
      %p Getting emergency supplies together is easier than you think. If you’re a beginner, start with the essentials, and collect things you already have in a central place.
      %strong Go to supplies
  %div.existing-networks
    %h2 Use your networks
    %p.intro-networks In the event of an emergency, you will rely on your existing networks – both digital and physical. Take a moment to think about the connections and communities you’re part of; so you can rally together if and when something happens.
    %ul.networks-list
      %li.facebook
        %h3 Facebook
        %p <strong>Now</strong> Create a Facebook group with your inner circle of locals  so you can easily send messages, share supplies, and make a plan together.
        %p <strong>In an emergency</strong> Post your status to Facebook to let friends and family know that you are ok.
      %li.twitter
        %h3 Twitter
        %p <strong>Now</strong> Add emergency accounts to your Twitter feed, to stay informed. Some of our favorites: SFDEM, 511, and Emergencies in SF.
        %p <strong>In an emergency</strong> Post about yourself and your area. Use #sf72 to include them in the Crisis Mode feed.
      %li.airbnb
        %h3 Airbnb
        %p <strong>Now</strong> Create an AirBnB profile so you are ready to find or share a place to stay if anything happens.
        %p <strong>In an emergency</strong> Find a place to stay, or share your place with those in need.
  .prepare-sections
    %a.prepare-people{href:"stories"}
      %h2 Know what to expect.
      %p Take a peek into the lives of fellow San Franciscans who know a thing or two about disasters—or connection.<br />Watch, learn, and then take action.
      %strong Go to stories
  .talk-to-friends
    %h2 Talk to your friends
    %p Spread the word about preparedness to your communities, friends, or families. Monthly book club? Neighborhood listserv? Dinner with friends? All of these are great opportunities to bring preparedness—and connection—to the table.
    .coming-kit
      %h4 <strong>Coming soon!</strong> The SF72 Community Action Kit
      %p.small The SF72 Community Connector Order SF72 materials (brochures, stickers, stencils) to spread the word about preparedness and get connected in your network or neighborhood.
= render :partial => "partials/footer"