.main-container.prepare
  = render :partial => "partials/header"
  .page-intro
    .big-title
      %h1 Prepare
      %span Know what to do
      .tooltip 
        .tooltip-content <strong>1/2 full?</strong> or half empty, depending on how your day is going.
    %h2 Protect your happy place.
    %p Don’t just prepare to help yourself. Prepare so that your family, your loved ones, or your neighbors will have a shoulder to lean on in the event of a disaster. A thousand tiny acts of preparation can have just as much impact as the bunkers, the hardhats, and the cellars full of food. So let’s take action. Let’s be the city that starts the ripple.
  %ul.col-2.prepare-sections
    %li
      %a.prepare-people{href:"stories"}
        %p Stories from people who have survived disasters – and advice on how to help your loved ones. Watch and Learn.
        %strong People
      %a.checklist Checklist for your people
    %li
      %a.prepare-things{href:"things"}
        %p It's easy to get your earthquake kit together, no matter your preparedness level. Get started.
        %strong Things
      %a.checklist Checklist for your kit
  .basics-intro
    %h2 Quake Basics
    %p What every San Franciscan should know about earthquakes.
  .basics-block
    %a.quick-guide-trigger{href: "#popup"}
      %h3 Read the quick guide
      %p A few easy steps to keep your cool when the earth shakes.
    .basics-video
      .video-future
      %strong Quake Quick Guide
      %span (3.50s)
  .alert-sf-block
    %h2 AlertSF.
    %p Get text updates and emergency information for San Francisco.
    %input.input-text{type: "text", placeholder: "Your number here."}
    %input.btn{type: "submit", value: "alerts only"}
    %input.btn.tips{type: "submit", value: "tips & alerts"}
  /%a{href:"stories", class:"link-mockup prepare-link-stories"} people
  /%a{href:"prepare", class:"link-mockup prepare-link-things"} things
= render :partial => "partials/footer"
.basics
  .modal
    %h4 Quake Basics
    %h2.modal-title During a quake
    %ol.quick-guide
      %li
        %h2 Drop, cover and hold.
        %p Duck under a strong table or desk. Cover your head and neck with your arms against an interior wall. Stay away from windows.
      %li
        %h2 Stay calm.
        %p Keep calm and carry on. Keeping your wits about you will ensure that you make safe choices for yourself and those around you.
      %li
        %h2 Stay put.
        %p Shelter in place–whether you’re in a car, in bed, or in a public place. Do not try to run out of the building during strong shaking, hold tight until the shaking stops. If you’re outdoors, steer clear of wires or falling objects.
    %h2.event-after After a quake
    %ol.quick-guide.second
      %li
        %h2 Leave a trail.
        %p If you leave home, leave a sign telling friends and family your location. Digitaly savvy? Send a tweet or Facebook update telling everyone know that you’re ok.
      %li
        %h2 Stay tuned.
        %p Listen to the radio for important information and instructions. Remember that aftershocks, which generally follow large quakes, can be large enough to cause damage in their own right.
      %li
        %h2 Check SF72.
        %p In the event of an emergency, this site will go into emergency mode and bring you live updates and tweets from around the city, information on missing persons, and ways you can help.
    .modal-share
      %p There’s safety in numbers. <br />Spread the word!
      %ul.share-options
        %li
          %a.print
        %li
          %a.email
        %li
          %a.facebook
  .modal-bg