%img{src: "assets/04-prepare.png"}
%a{href:"home", class:"link-mockup menu-home"} home
%a{href:"connect", class:"link-mockup menu-connect"} connect
%a{href:"prepare", class:"link-mockup menu-prepare"} prepare
%a{href:"about", class:"link-mockup menu-about"} about
%a{href:"stories", class:"link-mockup prepare-link-stories"} people
%a{href:"prepare", class:"link-mockup prepare-link-things"} things