.main-container.quick-guide-page
	= render :partial => "partials/header"
	.basics
		%h2 During a quake.
		%ol.quick-guide
			%li
				%h2 Drop, cover and hold on.
				%p Drop down and get under a strong table. If you are not near a table, drop against an interior wall and cover your head and neck with your arms. Stay away from windows.
			%li
				%h2 Stay put.
				%p Whether you’re in a car, bed, or public place, stay put and wait until the shaking stops. If you’re outdoors, steer clear of wires or falling objects. The only time not to stay put? If you’re near the coast in an earthquake, immediately go to high ground, as tsunamis often follow.
			%li
				%h2 Stay calm.
				%p Keep calm and carry on. Keeping your wits about you will ensure that you make safe choices for yourself and those around you.
		%h2.event-after After a quake.
		%ol.quick-guide.second
			%li
				%h2 Check your surroundings.
				%p Check for damage, and for anyone who is injured and in need of attention.
			%li
				%h2 Leave a trail.
				%p If you leave home, leave a sign telling friends and family your new location. Digitally savvy? Tweet or update your Facebook page to say you’re okay.
			%li
				%h2 Stay tuned.
				%p Listen to the radio for important information and instructions. Aftershocks, which often follow large quakes, can cause damage too.
			%li
				%h2 Check SF72.org
				%p In an emergency, SF72.org will go into Crisis Mode and will provide a live stream of updates from the City as well as crowdsourced reports.
		.quick-guide-share
			%ul.share-options
				%li
					%a.twitter{onClick: "twitterShare()"} Twitter
				%li
					%a.facebook{onClick: "facebookShare()"} Facebook
				%li
					%a.print{onClick: "window.print()"} Print
				%li
					%a.email{href: "mailto:someone@example.com?Subject=SF-72%20Quick%20Guide"} Share
			%p Spread the word!<br />There’s safety in numbers.