%div.main-container.stories
	= render :partial => "partials/header"
	.intro
		.photo-overlay
			%h2 A personal look at disaster.
			%p No matter your living situation &mdash; young, old, single, married, or living with a disability &mdash; people just like you have dealt with disaster. Hear stories from real disaster survivors, and learn what they wished they&apos;d known.
	%h3 Stories of resilience, from around the world.
	%ul.story-list
		%li
			%a
				%img{src: "http://placekitten.com/300/170"}
				.story-data
					.story-type.hurricane
					%h5 Jack & Lauren
					%p New Orleans, LA
		%li
			%a
				%img{src: "http://placekitten.com/300/170"}
				.story-data
					.story-type.hurricane
					%h5 Marvin
					%p New Orleans, LA
		%li
			%a
				%img{src: "http://placekitten.com/300/170"}
				.story-data
					.story-type.hurricane
					%h5 Keiko
					%p Tokyo, Japan.
		%li
			%a
				%img{src: "http://placekitten.com/300/170"}
				.story-data
					.story-type.hurricane
					%h5 Jack & Lauren
					%p New Orleans, LA
		%li
			%a
				%img{src: "http://placekitten.com/300/170"}
				.story-data
					.story-type.hurricane
					%h5 Marvin
					%p New Orleans, LA
		%li
			%a
				%img{src: "http://placekitten.com/300/170"}
				.story-data
					.story-type.hurricane
					%h5 Keiko
					%p Tokyo, Japan.
		%li
			%a
				%img{src: "http://placekitten.com/300/170"}
				.story-data
					.story-type.hurricane
					%h5 Jack & Lauren
					%p New Orleans, LA
		%li
			%a
				%img{src: "http://placekitten.com/300/170"}
				.story-data
					.story-type.hurricane
					%h5 Marvin
					%p New Orleans, LA
		%li
			%a
				%img{src: "http://placekitten.com/300/170"}
				.story-data
					.story-type.hurricane
					%h5 Keiko
					%p Tokyo, Japan.
= render :partial => "partials/footer"