= javascript_include_tag "story_detail_controller"
%div(ng-app="project")
	%div.main-container.story-detail{"ng-controller" => "storyDetailController", contenteditable:"true"}
		= render :partial => "partials/header"
		.intro-video
			%input{type: "text", "ng-show" => "editMode", "ng-model" => "video_src", style: "width:50%"}
			/ %iframe.video-opening{"ng-src" => "{{ video_src }}", "ng-show" => "!editMode"}
			%ul.social-media
				%li.twitter
					%a{href: "http://twitter.com/share?text=The%20San%20Francisco%20Manifesto%20from%20SF72.org:&url=http://sf72.org"} Twitter
				%li.facebook
					%a{href: "http://facebook.com"} Facebook
		.intro-row
			.main-intro
				%h2
					%span#name {{ name }}
					%span.story-disaster#disaster {{ disaster }}
				%strong.story-location
					%span#location {{ location }}
					%span#date {{ date }}
				.story-description
					%h3
						%span#age {{ age }},
						%span#civil_state {{ civil_state }},
						%span#location {{ location }},
						%span#home_type {{ home_type }}
					%p#main_story {{ main_story }}
			.main-quote#main_quote &ldquo;{{ main_quote }}&rdquo;
		.needed
			%h3 What I needed.
			%ul.needed-list
				%li
					%input{type:"text", "ng-show" => "editMode", "ng-model" => "needed_list_1_image_url"}
					%img{"ng-src" => "{{ needed_list_1_image_url }}", "ng-show" => "!editMode"}
					%p#needed_list_1_quote &ldquo;{{ needed_list_1_quote }}&rdquo;
				%li
					%input{type:"text", "ng-show" => "editMode", "ng-model" => "needed_list_2_image_url"}
					%img{"ng-src" => "{{ needed_list_2_image_url }}", "ng-show" => "!editMode"}
					%p#needed_list_1_quote &ldquo;{{ needed_list_1_quote }}&rdquo;
				%li
					%input{type:"text", "ng-show" => "editMode", "ng-model" => "needed_list_3_image_url"}
					%img{"ng-src" => "{{ needed_list_3_image_url }}", "ng-show" => "!editMode"}
					%p#needed_list_1_quote &ldquo;{{ needed_list_1_quote }}&rdquo;
		.learned
			%h3 What I learned.
			%ul.learned-list
				%li
					%p &ldquo;I wish I had set a meeting spot with my friends. Once the hurricane hit, it was too late.&rdquo;
					%a{href: "#"} See the app
				%li
					%p &ldquo;Everyone has something to share. Even a bike can be an invaluable tool.&rdquo;
					%a{href: "#"} Get your stuff
				%li
					%p &ldquo;The situation changes so quickly, that we were all hungry for details and information.&rdquo;
					%a{href: "#"} Sign up for AlertSF
		.similar
			%h3 Similar to Kirstin
			%ul.story-list
				%li
					%a
						%img{src: "http://placekitten.com/300/170"}
						.story-data
							.story-type.hurricane
							%h5 Jack & Lauren
							%p New Orleans, LA
				%li
					%a
						%img{src: "http://placekitten.com/300/170"}
						.story-data
							.story-type.hurricane
							%h5 Marvin
							%p New Orleans, LA
				%li
					%a
						%img{src: "http://placekitten.com/300/170"}
						.story-data
							.story-type.hurricane
							%h5 Keiko
							%p Tokyo, Japan.

= render :partial => "partials/footer"