%div.main-container
	= render :partial => "partials/header"
	%img{src: "assets/05-stories.png"}
	%a{href:"story_detail", class:"link-mockup story-to-detail"} story detail
= render :partial => "partials/footer"