.header
  %h1.logo City72
  .emergency
    %label Emergency Mode
    %select
      %option off
      %option on
%ul.nav
  %li 
    %a{:href => "#"} City Info
  %li 
    %a{:href => "#"} Connections
  %li 
    %a{:href => "#"} Supplies
  %li 
    %a{:href => "#"} Stories
  %li 
    %a{:href => "#"} Plan
  %li 
    %a{:href => "#"} About
  %li.em-menu 
    %a{:href => "#"} Map
  %li.em-menu 
    %a{:href => "#"} Updates
.main-container
  %h1 City72 Content Editor 
  %p Your city's guide <br /> to getting prepared.
  %a{:href => "#"} Get Started