.main-content.supplies
  .screen-intro
    %p.screen-info This list provides a list of essential, useful, and personal supplies people can gather before an emergency. Use the pre-populated supplies list below, or swap out an item as needed. 
    .action-area
      %a.btn.btn-primary{:href => "#"} Save Changes

  %h2 Essential Supplies
  %ul.editable-list
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit

  %h2 Useful Supplies
  %ul.editable-list
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit

  %h2 Personal Supplies
  %ul.editable-list
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit

  %h2 Supplies to share
  %ul.editable-list
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit
    %li
      .list-element
        .img
        %h3 Water
        %p Everyone enjoys a tall drink of water. Stay hydrated by gathering one gallon per person, per day.
      .list-actions
        %button.btn{type: "button", data: {toggle:"modal", target:".edit-supply"}} Edit

  .form-actions
    %a.btn.btn-primary{:href => "#"} Save Changes 

/ MODAL: Supply
.modal.edit-element.edit-supply.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Edit Supply
      .modal-body
        %form{:role => "form"}
          .form-group
            %label{:for => "supply-image"} Image of Supply
            %input.form-control#supply-image{:type => "file"}/
          .form-group
            %label{:for => "supply-name"} Supply Name <span class="help">(e.g. Water)</span>
            %input.form-control#supply-name{:type => "text"}/
          .form-group 
            %label{:for => "supply-description"} Supply Details
            %textarea.form-control#supply-description{:name => "supply-description", :cols => "90", :rows => "8"}
      .modal-footer
        %button.btn.btn-primary{type: "button"} Save changes
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel