.main-container.stories
  = render :partial => "partials/header"
  .intro
    .intro-video
      %iframe.video-opening{src: "http://player.vimeo.com/video/72855510?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933", width: "100%", height: "573"}
      .personal-look 
        %h2.mobile-title Stories
        %h2 A personal look at emergencies and connection.
        %p Watch stories of people who have lived through disasters &ndash; and those who are already fostering connections in San Francisco. No matter your situation, chances are, there’s someone like you with wisdom to share.
  %ul.story-list
    / - @stories.each do |story|
    /   %li
    /     %a{href: "#{ story_path(story.id) }"}
    /       .quote-dialog
    /         #{story.quote}
    /         %span.fake-link See story
    /       = retina_image_tag story.video_image
    /       = render partial: "category_icon", locals: {story: story}
    %li.coming-soon-story
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-1.jpg"}
        .story-data
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li.coming-soon-story
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-2.jpg"}
        .story-data
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li.coming-soon-story
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-3.jpg"}
        .story-data
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li.coming-soon-story
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-4.jpg"}
        .story-data
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li.coming-soon-story
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-5.jpg"}
        .story-data
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li.coming-soon-story
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-6.jpg"}
        .story-data
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li.coming-soon-story
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-7.jpg"}
        .story-data
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li.coming-soon-story
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-8.jpg"}
        .story-data
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li.coming-soon-story
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-9.jpg"}
        .story-data
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li.coming-soon-story
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-10.jpg"}
        .story-data
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li.coming-soon-story
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-11.jpg"}
        .story-data
          %h5 Coming soon!
          %p More stories of resilience and community.
  .basic-guide
    %h3 After experiencing an earthquake in Japan, Judy took steps to prepare at home in San Francisco. Learn a few easy steps from our Quake Basics guide to help keep your cool when the earth shakes.


  = render :partial => "partials/footer"