.main-content.stories
  .screen-intro
    %p.screen-info Once you've selected, interviewed, and photographed residents for the Stories section, enter the content below.
    .action-area
      %a.btn.btn-primary{:href => "#"} Save Changes

  %h2 Lead Image & Quote
  %ul.editable-list.wide
    %li
      .list-element
        .img
        %h3 Jane
        %p On the morning of
      .list-actions
        %a.btn{:href => "#"} Edit Story

  %h2 Stories
  %ul.editable-list
    %li
      .list-element
        .img
        %h3 Jane
        %p On the morning of
        %a{:href => "#"} Get Connected 
      .list-actions
        %a.btn{:href => "#"} Edit Story

  %h2 Your city's Identity Statement
  %p.help-block Express the personality of your city through your Identity Statement – the rallying cry for city and residents alike.
  %textarea.form-control#identity-statement{:name => "", :cols => "90", :rows => "7"}
  
  .form-actions
    %input.btn.btn-primary{:type => "submit", :value => "Save Changes"}/

/ MODAL: Story
.modal.edit-element.edit-story.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Edit Story
      .modal-body
        %form{:role => "form"}
          .form-group
            %label{:for => "story-image"} Image <span class="help">(in-context portrait of storyteller)</span>
            %input.form-control#story-image{:type => "file"}/
          .form-group
            %label{:for => "story-video"} Video Embed Code  <span class="help">(Optionally, include a video you've uploaded to Vimeo or Youtube)</span>
            %textarea#story-video{:name => "story-video", :cols => "30", :rows => "10"}/
          .form-group
            %label{:for => "story-name"} Name <span class="help">(e.g. Jane)</span>
            %input.form-control#story-name{:type => "text"}/
          .form-group
            %label{:for => "story-location"} Location <span class="help">(e.g. Park Slope, Brooklyn)</span>
            %input.form-control#story-location{:type => "text"}/
          .form-group 
            %label{:for => "story-description"} Story
            %textarea#story-description{:name => "story-description", :cols => "30", :rows => "10"}
          .form-group
            %label Call to Action <span class="help">(link at the end of the story)</span>
            .radio
              %label{:for => "story-cta-1"}
                %input.form-control#story-cta-1{:type => "radio", :name => "story-cta", :checked => "checked"}/
                %span Get Connected
            .radio
              %label{:for => "story-cta-2"}
                %input.form-control#story-cta-2{:type => "radio", :name => "story-cta", :checked => "checked"}/
                %span Gather Supplies
            .radio
              %label{:for => "story-cta-3"}
                %input.form-control#story-cta-3{:type => "radio", :name => "story-cta", :checked => "checked"}/
                %span Make a Plan
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel
        %button.btn.btn-primary{type: "button"} Save changes