.main-content.city-info(ng-controller="CityInfoController" ng-init="initialize('#{escape_javascript(CitySerializer.new(@city).to_json)}', '#{escape_javascript(City.colors.to_json)}')")

  %form{:role => 'form', name: 'cityForm'}(novalidate ng-submit="updateCity()")

    .screen-intro
      %p.screen-info
        Fill in your city's details to create your custom City72 site.
      .action-area
        %button.btn.btn-primary.ladda-button{:type => 'submit'}(ng-disabled="cityForm.$invalid || updating" data-style="expand-left" ui-ladda="updating")
          %span.ladda-label Save Changes

    .form-group(ng-class="{'has-error': cityForm.name.$dirty && cityForm.name.$invalid}")
      %label.control-label{:for => 'name'}
        City Name
        %span.req *
        %span.help (e.g. New York, Denver ... )
      %input.form-control#name{:name => 'name', :'ng-model' => 'city.name'}(required)
      %span.help-block(ng-show="cityForm.name.$dirty && cityForm.name.$invalid")
        can't be blank

    .form-group(ng-class="{'has-error': cityForm.abbreviation.$dirty && cityForm.abbreviation.$invalid}")
      %label.control-label{:for => 'city-abr'}
        City Abbreviation
        %span.req *
        %span.help (e.g. NY, Den ... up to 4 letters )
      .input-group.input-sm.input-abr
        %input.form-control#city-abr{:name => 'city-abr', :'ng-model' => 'city.abbreviation'}(required ng-maxlength="4")
        %span.input-group-addon 72
      %span.help-block(ng-show="cityForm.abbreviation.$dirty && cityForm.abbreviation.$invalid")
        can't be blank

    .form-group
      %label.control-label{:for => 'moniker'}
        What are the residents of your city called?
        %span.help (e.g. New Yorkers, Denverites ... )
      %input.form-control#moniker{:name => 'moniker', :'ng-model' => 'city.moniker'}
      %span.help-block If you leave this field blank your site will refer to people as "[City] residents."

    .form-group(ng-class="{'has-error': cityForm.possessive.$dirty && cityForm.possessive.$invalid}")
      %label.control-label{:for => 'city-possessive'}
        What is the possessive form of your city name?
        %span.req *
        %span.help (e.g. Chicago's, Dallas')
      %input.form-control#city-possessive{:name => 'city-possessive', :'ng-model' => 'city.possessive'}(required)
      %span.help-block(ng-show="cityForm.possessive.$dirty && cityForm.possessive.$invalid")
        can't be blank

    / .form-group
    /   %label{:for => 'color_cd'}
    /     Accent Color for Website
    /   %select.form-control#color_cd{:name => 'color_cd', :'ng-model' => 'city.color_cd'}
    /     %option(ng-repeat="color in availableColors" value="{{color.key}}" ng-selected="color.key == city.color_cd") {{color.value}}

    .form-group
      %label{:for => 'select-city-image'}
        Homepage Image: Your City
      %span.help-block What image evokes the feeling of being a resident in your city—but not a tourist?
      %input.form-control#select-city-image{:type => 'file'}(file-input="city_image")
      %img.city-image{:'ng-src' => '{{city.image_url}}'}

    .form-group
      %label{:for => 'select-resident-image'}
        Homepage Image: Residents of Your City
      %input.form-control#select-resident-image{:type => 'file'}(file-input="resident_image")
      %img.resident-image{:'ng-src' => '{{city.resident_image_url}}'}

    .form-group(ng-class="{'has-error': cityForm.brought_by.$invalid && cityForm.brought_by.$dirty}")
      %label.control-label{:for => 'brought_by'}
        This website brought to you by...
        %span.req *
        %span.help (e.g. the San Francisco Department of Emergency Management)
      %input.form-control#brought-by{name: 'brought_by', :'ng-model' => 'city.brought_by'}(required)
      %span.help-block(ng-show="cityForm.brought_by.$invalid && cityForm.brought_by.$dirty")
        can't be blank

    %h2 Footer Information

    .form-group
      %label{:for => 'agency_url'}
        Your Agency's Website
        %span.req *
      .input-group.input-md
        .input-group-addon http://
        %input.form-control#agency-site{name: 'agency_url', :'ng-model' => 'city.agency_url'}(required)

    .form-group
      %label{:for => 'contact_email'}
        Contact Us Email
        %span.req *
      %input.form-control#contact-email{name: 'contact_email', :'ng-model' => 'city.contact_email', :placeholder => 'name@example.com'}(required)


    %h3 City Affiliates
    %p These links appear in the footer of each page of the site (add up to 8 links)

    %affiliate-form(ng-repeat="affiliate in city.affiliates" affiliate="affiliate" affiliates="city.affiliates")

    %a.add-btn.btn-link(ng-click="newAffiliate()" ng-show="city.affiliates.length < 8") + Add an Affiliate

    .alert.alert-success.alert-dismissable(ng-show="updatedSuccessfully")
      %button.close(type="button" ng-click="updatedSuccessfully = false") &times;
      %strong Saved!
      Your changes were saved.

    .alert.alert-danger.alert-dismissable(ng-show="fatalError")
      %button.close(type="button" ng-click="fatalError = false") &times;
      %strong Error!
      Sorry. Your changes could not be saved. Please try again.

    .form-actions
      %button.btn.btn-primary.ladda-button{:type => "submit"}(ng-disabled="cityForm.$invalid || updating" data-style="expand-left" ui-ladda="updating")
        %span.ladda-label Save Changes

      %span.double-check.text-danger(ng-show="cityForm.$invalid")
        Please double-check that all required fields are filled.

    .frontend-link
      %a{:href => "/"} View Site &raquo;
