/* ABOUT */

.about .page-intro .big-title {
	@include retina-image(/assets/static/about-us-title, 960px 490px, jpg);
}
 .page-intro {

 	.main-intro {
 		@include span-columns(8);
 	}
 }

.about .main-intro {
	padding: 0 30px;

	p {

	}
}

.aside .connect {
	@include row();
	border-left: 2px solid $highlight;
	margin-top: 1.6rem;

	strong {
		font-weight: normal;
		font-family: $font-bold;
		color: $dark-grey;
	}

	a {
		padding-top: 3rem;
		display: block;
		position: relative;
	}

	a:hover {
		color: $dark-grey;
	}

	a:after {
		position: absolute;
		top: 1rem;
		left: 0;
		font-family: "sf72-icons";
		content:'9';
		font-size: 1.5rem;
		-webkit-font-smoothing: antialiased;
	}
}

.about-data {
	@include outer-container;
	margin-top: 20px;
	margin-bottom: 4.25rem;
	padding: 0 30px;

	li {
		@include span-columns(4);
		padding-right: 0.6rem;
	}

	h2 {
		@include col-title;
		margin-bottom: 0;
	}

	p {
		margin-top: 0.4rem;
	}

	.about-who,
	.about-what,
	.about-why {
		width: 300px;
		height: 190px;
	}

	.about-who {
		@include retina-image(/assets/static/about-us-1, 300px 190px, jpg);
	}

	.about-what {
		@include retina-image(/assets/static/about-us-3, 300px 190px, jpg);
	}

	.about-why {
		@include retina-image(/assets/static/about-us-2, 300px 190px, jpg);
	}

}

.contact-block {
	background-color: #fbb03b;
	@include outer-container;

	.contact-heading {
		@include span-columns(4);
		padding: 0 1.8rem;
		
		h3 {
			color: $dark-grey;
			line-height: 1.2;

			strong {
				font-weight: normal;
				display: block;
				margin-bottom: 1rem;
			}

			span {
				color: #FFF;
			}
		}
	}

	.successful-response-container{
		@include span-columns(8);
		@include omega;
		display: none;
		position: relative;
		margin-top: 2.1rem;
		height: 371px;
		padding-top: 3rem;
		color: #FFF;
		font-size: 1.5rem;
		font-family: $font-bold;


		p {
			margin: 0;
			line-height: 1.16;
		}
		
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			font-family: "sf72-icons";
			font-size: 2rem;
			content: "y";
			-webkit-font-smoothing: antialiased;
		}
	}

	.error-response-container{
		display: none;
	}

	.sending-notification{
		display: none;
		text-transform: uppercase;
		color: #FFF;
		font-size: 0.8rem;
	}

	.contact-form {
		@include span-columns(8);
		@include omega;
		margin-top: 1.8rem;
		margin-bottom: 1.8rem;

		.name,
		.from-email,
		.message {
			width: 46%;
			padding: 1rem;
			margin: 0 3% 3% 0;
			background: url(/assets/static/diagonal.png);
			background-size: 49px 50px;
			border: none;
			background-color: rgba(0, 0, 0, 0);
			font-size: 1.3rem;
			font-family: $font-regular;
			color: #FFF;
			-webkit-border-radius: 0;

			@include placeholder {
			    color: #FFF;
			}
		}

		.message {
			width: 95.5%;
			height: 216px;
		}

		.send {
			line-height: 1;
			background-color: #FFF;
			border: 0;
			padding: 0.8rem 1.8rem;
			font-family: $font-medium;
			font-size: 1.6em;
			color: $highlight;
			margin-right: 0.8rem;
			cursor: pointer;
			-webkit-appearance: none;
			-webkit-border-radius: 0;
		}

		.send:hover {
			background-color: $dark-grey;
			color: #FFF;
		}
	}
}

/* MANIFESTO */
.manifesto .page-intro .big-title {
	background: url(/assets/static/manifesto.jpg) no-repeat left top;
	background-size: 100%;
	border-top: 1px solid $light-grey;
}

.intro-row {
	@include row();
}

.manifesto .main-intro {
	@include row();
	@include span-columns(8);
	padding: 60px 30px;

	p {
		@include span-columns(12);
	}
}

.aside {
	@include span-columns(3.3);
	@include shift(.7);
	margin-top: 3.5rem;
	
	div {
		border-left: 2px solid $highlight;
		padding-left: 1rem;
		line-height: 1.45;
		font-family: $font-bold;
		color: $body-light;
		margin-bottom: 1rem;
	}

	.highlighted {
		color: $highlight;
	}

	.download-manifesto a{
		display: block;
		padding-top: 2rem;
		background-size: 50px;
		color: $highlight;
		position: relative;
	}

	.download-manifesto a:hover {
		color: $dark-grey;
	}
	
	.download-manifesto a:after {
		position: absolute;
		top: 0;
		left: 0;
		font-family: "sf72-icons";
		content:'9';
		font-size: 1.5rem;
		-webkit-font-smoothing: antialiased;
	}
}

.manifesto p strong {
	font-weight: normal;
	color: $dark-grey;
}