.mode-config.header {
	margin:0 !important;
	padding: 0 !important;
}

.modal a.close-modal {
	background: url(/images/close.png)
}

#modal-panel, #confirm-off-panel {
	padding: 20px;
}

#modal-panel {
	width:750px;
}

.admin-btn {
	display: inline-block !important;
	padding:0 15px !important;
	line-height: 40px !important;
	color:#fff !important;
	text-shadow: none !important;
	-webkit-font-smoothing: none !important;
	font-size: 18px !important;
	cursor: pointer !important;
	text-decoration: none !important;
	font-weight: bold !important;
	border: 0 !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.admin-btn:hover {
	-moz-box-shadow:    0 1px 1px 1px #ccc;
	-webkit-box-shadow: 0 1px 1px 1px #ccc;
	box-shadow:         0 1px 1px 1px #ccc;
}

.admin-btn.switch-on {
	background: #f15a24 !important;
}

.admin-btn.switch-on:hover {
	background: #ef4a11 !important;
}

.admin-btn.switch-off {
	background: #f7931e !important;
}

.admin-btn.switch-off:hover {
	background: #ff9b24 !important;
}

.admin-btn.black-btn {
	background: #222 !important;
}

.admin-btn.black-btn:hover {
	background: #000 !important;
}

#modal-panel h2 {
	margin:0;
	padding: 15px 0 10px 0;
	color: #333;
}

#modal-panel label {
	font-weight: bold;
	font-size:13px;
	color: #555;
}

#modal-panel input[type="text"] {
	font-size: 12px;
	margin:2px 0 2px 0;
	width: 95%;
}

#modal-panel .form-section.configure-updates {
	padding-top:15px;
}

#modal-panel #turn-off-btn {
	background: #000;
}

#confirm-off-panel .message {
	font-size: 16px;
	padding-bottom: 20px;
}

.form-section h2 .circle {
	display: inline-block;
	text-align: center;
	font-size: 18px;
	line-height: 35px;
	width: 35px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	color:#fff;
	background: #ff9900;
	font-weight: normal;
}

.form-section h2 {
	font-size: 20px !important;
	font-weight: bold !important;
	color:#444 !important;
}

.form-section h3 {
	font-size:15px !important;
	margin:10px 0 0 0 !important;
	padding:0 !important;
	font-weight: normal !important;
}

.form-section textarea {
	width: 95% !important;
	height: 75px !important;
	font-size: 12px !important;
}

.what-should-i-do .field {
	float: left;
	width: 230px;
	margin-right:15px;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.crisis-current-info, .crisis-control {
	width:600px;
	padding:10px !important;
	margin:10px !important;
}

.crisis-current-info {
	width:600px;
}

.crisis-control {
	width:300px;
	background: #fafafa;
	text-align: center;
}

.crisis-control ul {
	padding: 15px 0 0 20px !important;
	text-align: left;
}

.crisis-current-info h2, h3 {
	margin:0 !important;
	padding: 0 !important;
	font-weight: bold !important;
}

.crisis-current-info h3 {
	font-size: 14px !important;
	color:#999 !important;
}

.crisis-current-info h2 {
	margin-top: 20px !important;
	font-size: 16px !important;
	color:#888 !important;
}

.crisis-current-info .field {
	padding-top:5px;
}

.crisis-current-info .field div {
	margin: 8px 0 12px 0;
	padding: 3px 5px;
	border: 1px solid #d6d6d6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #939393;
}

.crisis-current-info .field h3 span {
	font-weight: normal !important;
}

#active_admin_content {
	margin: 0 !important;
	padding: 0 !important;
}

.mode-config.header, .mode-config.content {
	padding: 0 30px !important;
}

.mode-config.header {
	padding: 12px 0 0 45px !important;
	height:68px;
	font-weight: bold !important;
}

.mode-config.header.crisis-mode {
	background: #f15a24;
}

.mode-config.header h1 {
	font-weight: bold !important;
}

.mode-config.header.crisis-mode h1, .mode-config.header.crisis-mode span {
	color: #fff !important;
}

.mode-config.header.preview-mode {
	background: #e7e8e8;
}

.mode-config.header.preview-mode h1 {
	color: #f7931e !important;
}

.mode-config.header.preview-mode span {
	color: #939393 !important;
}

.mode-config.content {
	padding-top: 20px !important;
}

.flashes {
	margin-top: 16px !important;
}
