/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bourbon";
@import "neat";

/* Main colors */
$dark-grey: #4D4D4D;
$body-color : #898989;
$body-light: #a2a2a2;
$light-grey: #e6e6e6;

$highlight: #FBB03B;
$highlight-dark: #F15A24;

/* Fonts options */
$font-light:'HelveticaNeueW01-45Ligh';
$font-regular:'HelveticaNeueW01-55Roma';
$font-medium:'HelveticaNeueW01-65Medi';
$font-bold:'HelveticaNeueW01-75Bold';

/* CSS Mini Reset */

html, body, div, form, fieldset, legend, label {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	text-align: left;
	vertical-align: top;
}

img, iframe { border: 0; }

ul { padding: 0; }
ul li { list-style-type: none; }

a {
	text-decoration: none;
	color: $highlight;
}

/* GRID & Typography */
$max-width: 960px;
$gutter: 30px;
$border-box-sizing: false;

h2 {font-size: 2rem; font-family: $font-medium;}
h3 {font-size: 1.5rem; font-family: $font-medium;}
h4 {font-size: 1.3rem;}
$intro-size: 21px;
h5 {margin: 0}

/* LAYOUT */
body {
	font-family: $font-regular;
	font-size: 16px;
	line-height: 1.625;
	color: $body-color;
}

.main-container {
	@include outer-container;
}

/* HEADER */
.header {
	@include outer-container;
}

.logo {
	float: left;
	@include span-columns(2.4);
	margin-top: 2.6rem;
}

.logo a {
	color: $highlight;
	text-decoration: none;
}

.main-nav li {
	display: block;
	@include span-columns(2.2);
	padding: 53px 0 44px;
}

.main-nav a {
	display: block;
	color: $body-color;
	text-decoration: none;
}

.main-nav strong {
	display: block;
	margin-bottom: -0.28rem;
	font-family: $font-medium;
	font-size: 1.25rem;
	font-weight: normal;
	line-height: 1;
}

.main-nav span {
	text-transform: uppercase;
	font-size: 0.6rem;
	font-family: $font-medium;
}

/* FOOTER */
.footer {
	background-color: $light-grey;
	padding: 1.5em;
	margin-top: 2rem;
}

/* MOCKUP */
/* .home { background: url(/assets/00-home.png) -30px 0; } */
.home-em { background: url(/assets/01-home-em.png) -30px 0; }
/* .connect { background: url(/assets/03-connect.png) -30px 0; } */
/* .prepare { background: url(/assets/04a-prepare.png) -30px 0; } */
/* .stories { background: url(/assets/05-stories.png) -30px 0; } */
/* .story-detail { background: url(/assets/06-story-detail.png) -30px 0; } */
.things { background: url(/assets/07-things.png) -30px 0; }
/* .about { background: url(/assets/08-about.png) -30px 0; } */

/* HOME */
.video-opening {
	width: 100%;
	height: 33.5rem;
}

.intro-row {
	@include outer-container;
}

.main-intro {
	@include span-columns(7);
	padding-left: 1.8rem;
	margin-bottom: 2.9rem;
}

.intro-app {
	@include span-columns(3);
	@include shift(1);
	margin-top: 3.5rem;
	font-family: $font-medium;
	font-size: 1.125rem;
	line-height: 1.3;
	padding: 3.6rem 1.5rem;
	position: relative;
}

.intro-app span {
	color: $body-color;
	display: block;
	margin-top: 0.6rem;
}

.intro-app:after {
	position: absolute;
	left: 0.35rem;
	top: 3.85rem;
	height: 6.1rem;
	border-left: 2px solid #FBB03B;
	content: '';
}

.main-intro h2,
.col-3 h4 {
	line-height: 1.2;
	color: $dark-grey;
	font-family: $font-medium;
}

.main-intro h2 {
	margin-bottom: 0;
}

.main-intro p {
	line-height: 1.38;
	color: #A0A0A0;
	font-size: 21px;
	margin: 10px 0;
}

.col-3 {
	@include outer-container;
}

.col-3 li {
	@include span-columns(4);
	@include omega(3n);
}

.intro-video,
.page-intro {
	position: relative;
}

.tooltip {
	position: absolute;
	top: 2rem;
	right: -0.5rem;
	width: 19.8rem;
	padding: 1.1rem 1rem 1rem 5rem;
	font-family: $font-medium;
	font-size: 1rem;
	background-color: $highlight-dark;
	color: #FFF;
}

.col-3 h4,
.col-3 p {
	padding: 0 1rem 0 1.25rem;
}

.col-3 h4 {
	margin-bottom: 0;
}

.col-3 p {
	margin-top: 0.7rem;
}

.my-people,
.my-stuff,
.near-me {
	background: url(http://placekitten.com/300/220/) no-repeat top left;
	width: 300px;
	height: 220px;	
}

.social-media {
	margin: 0 0 -1.2rem;
	@include shift(10);
}

.social-media li {
	display: inline-block;
}


.page-intro .big-title {
	background: url(http://placekitten.com/960/492/) no-repeat left top;
	width: 960px;
	height: 492px;
	text-align: center;
	padding-top: 12.3rem;

	h1 { 
		font-size: 6.25rem;
		margin: 0;
		line-height: 1;
		color: #FFF;
	}

	span { 
		display: block;
		margin: 0.6rem 0 0;
		font-size: 0.8rem;
		text-transform: uppercase;
		color: #FFF;
	}
}

.page-intro strong {
	display: block;
	font-family: $font-regular;
}

.page-intro h2 {
	margin: 1.6rem 0 0 2.1rem;
	color: $dark-grey;
	font-family: $font-medium;
	font-size: 2.2rem;
}

.page-intro p {
	margin: 0.1rem 0 2.5rem 1.8rem;
	line-height: 1.35;
	width: 43rem;
	font-size: 1.3rem;
}

/* CONNECT */
.app-signup {
	@include outer-container;
}

.app-details {
	@include span-columns(4.5);
	padding-left: 1.8rem;
}

.app-details .btn {
	margin-top: 0.9rem;
	font-size: 1.5rem;
	color: #FFF;
	padding: 0.5rem 3.3rem;
	display: inline-block;
	background-color: $highlight;
	border-radius: 2rem;
}

.app-video {
	@include span-columns(7.5);
	width: 60.4%;
	height: 324px;
	margin-top: 1.5rem;
	background: $light-grey url(http://placekitten.com/580/325/) no-repeat top left;
}

.in-context {
	@include outer-container;
	margin-top: 7.7rem;
}

.in-context li {
	@include span-columns(6)
}

.in-context p{
	margin-left: 1.8rem;
	margin-top: 0.4rem;
}

/* PREPARE */

.prepare .tooltip {
	padding-right: 3rem;
	padding-bottom: 1.1rem;
	line-height: 1.25;
	font-size: 0.95rem;	
}

.col-2 {
	@include outer-container;
}

.col-2 li {
	@include span-columns(6);
	@include omega(2n);
}

.prepare-sections {
	margin-top: 3.8rem;
}

a.prepare-people,
a.prepare-things
 {
	background: url(http://placekitten.com/493/378/);
	display: block;
	color: #FFF;
	padding: 0.8rem 1rem 1rem;
	height: 22.6rem;
	position: relative;
}

a.prepare-people p,
a.prepare-things p {
	margin: 1rem 10rem 0 1rem;
	line-height: 1.4;
	font-size: 1.1rem;
}

a.prepare-people strong,
a.prepare-things strong {
	position: absolute;
	bottom: 0.6rem;
	left: 1.8rem;
	font-family: $font-medium;
	font-size: 2.7rem;
	display: block;
}

a.checklist {
	font-size: 1.1rem;
	text-decoration: underline;
	padding-left: 1.8rem;
	margin-top: 1rem;
	display: block;
}

.basics-intro {
	margin-top: 3.6rem;
}

.basics-intro h2 {
	margin: 0 1.8rem;
	font-size: 2.25em;
	line-height: 1.25;
	color: $dark-grey;
}

.basics-intro p {
	margin: 0.2rem 1.9rem;
	font-size: 1.3em;
}

.basics-block {
	background-color: $light-grey;
	padding: 2rem 2rem 0.6rem;
	margin: 1.2rem auto 1.8rem;
	@include outer-container;
}

.quick-guide-trigger,
.basics-video {
	@include span-columns(6);
}

.basics-video {
	@include omega;
}

.quick-guide-trigger {
	padding-top: 4.9rem;

	h3 {
		margin: 0;
		color: $highlight-dark;
	}

	p {
		padding-right: 10rem;
		margin-top: 0;
		font-family: $font-medium;
		font-size: 1.3em;
		line-height: 1.25em;
		color: $body-light;
	}
}

.video-future {
	margin: 0 0 0.2rem 0.8rem;
	background-color: #FBB03B;
	width: 427px;
	height: 213px;
}

.basics-video strong {
	padding-left: 0.8rem;
	font-family: $font-medium;
	color: $dark-grey;
}

.alert-sf-block {
	background-color: $highlight;
	padding: 1.2rem;
	color: #FFF;
	position: relative;
	
	h2 {
		padding-left: 4.4rem;
		font-size: 2.2em;
		margin: 1.5rem 0 0.8rem;
	}

	p {
		position: absolute;
		font-size: 1.3em;
		right: 4rem;
		top: 0.8rem;
		width: 24.5rem;
		line-height: 1.2;
	}
	
	.input-text {
		background-color: rgba(0, 0, 0, 0);
		margin: 0 0.9rem 0 4.2rem;
		padding: 0.7rem 1.2rem 0.7rem;
		border: 2px solid #FFF;
		width: 24.7rem;
		font-size: 1.5rem;

		@include placeholder {
		    color: #FFF;
		}
	}

	.btn {
		line-height: 1;
		background-color: #FFF;
		border: 0;
		padding: 0.8rem 1.8rem;
		font-family: $font-medium;
		font-size: 1.6em;
		color: $highlight;
		margin-right: 0.8rem;
	}

	.btn.tips {
		@include omega;
	}
}

/* Stories */

.stories .intro,
.things .intro {
	position: relative;
	width: 960px;
	height: 30.8rem;
	margin-top: 1.9rem;
	
	background: url(http://placekitten.com/960/460/);
	color: #FFF;

	.photo-overlay {
		position: absolute;
		left: 1.8rem;
		bottom: 3.1rem;
		width: 57rem;
	}

	h2 {
		line-height: 1;
		margin: 0;
	}

	p {
		margin: 0.7rem 14rem 0 0;
		line-height: 1.25;
		font-size: 1.35rem;
	}
}

.stories h3 {
	margin: 1.9rem 0.7rem 0;
	color: $dark-grey;
	letter-spacing: -1px;
}

.story-list {
	margin-top: 0.5rem;
}

.story-list li {
	margin-bottom: 2rem;
}

.story-data {
	margin-top: 0.5rem;
}

.story-data h5 {
	color: $dark-grey;
	font-family: $font-bold;
}

.story-data p {
	margin: 0;
	color: $body-color;
	font-size: 0.83rem;
	line-height: 1;
}

.story-type {
	width: 2rem;
	height: 2rem;
	float: left;
}

/* Story detail */

h2 .story-disaster {
	color: $body-color;
}

.story-description {
	margin-top: 3.2rem;

	h3 { 
		margin-bottom: 0;
		color: $dark-grey;
	}
	p { margin-top: 0;}
}


.main-quote {
	@include span-columns(4);
	@include shift(1);
	padding: 0 1.1rem;
	margin-top: 10rem;
	font-family: $font-medium;
	font-size: 1.5rem;
	color: $highlight;
	border-left: 1px solid;
	line-height: 1.2;
}

.needed-list,
.learned-list,
.story-list {
	@include outer-container;
}

.needed-list li,
.learned-list li,
.story-list li {
	@include span-columns(4);
	@include omega(3n);
}

.needed h3,
.learned h3,
.similar h3 {
	margin: 0;
	padding-left: 1.8rem;
	color: $dark-grey;
}

.needed p {
	font-size: 1.3rem;
	font-family: $font-medium;
	line-height: 1.5rem;
	text-indent: -0.5rem;
	margin-top: 0.5rem;
	padding-left: 1.8rem;
}

.learned {
	margin-bottom: 2.7rem;
}

.learned-list {
	margin-top: 0.5rem;
}

.learned-list li {
	background-color: $light-grey;
	position: relative;
	height: 13.8rem;
	font-family: $font-medium;
	padding: 0 1rem 0.5rem 1.8rem;
	text-indent: -0.5rem;
	font-size: 1.3rem;
	line-height: 1.5rem;
	height: 13.8rem;
}

.learned-list p {
	margin: 1rem 0 0;
}

.learned-list a {
	position: absolute;
	bottom: 1rem;
	left: 2.4rem;
	color: $highlight-dark;
	font-size: 1.5rem;
}

/* THINGS */

.action-bar {
	@include outer-container;
}

.action-bar .tabs {
	@include span-columns(8.8);
	padding-left: 1.8rem;

	li {
		text-align: center;
		display: inline-block;
		margin: 1.4rem 0.9rem 0 0;
		font-size: 1.6rem;

		a {
			color: $body-light;
			display: block;
			padding: 0.6rem 0.2rem;
			border: 2px solid $body-light;
			width: 12.6rem;
		}
	}
}

.action-bar .list-download {
	@include span-columns(3.2);
	margin-top: 2rem;

	a {
		text-decoration: underline;
		width: 12.6rem;
		padding: 1.6rem 0.2rem 1.1rem 3rem;
		display: block;
		font-size: 1.1rem;
	}
}

.tab-tip{
	font-size: 1.3rem;
	margin-top: 0.2em;
	padding-left: 1.8rem;
}

.things-list,
.kits-list {
	@include outer-container;
}

.things-list li,
.kits-list li {
	@include span-columns(4);
	@include omega(3n);
}

.overlay-text {
	display: none;
}