/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bourbon";
@import "neat";

/* Main colors */
$body-color : #9B9B9B;
$light-grey: #e6e6e6;
$dark-grey: #383838;
$highlight: #fbb03b;

/* CSS Mini Reset */

html, body, div, form, fieldset, legend, label {
	margin: 0;
	padding: 0; 
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	text-align: left;
	vertical-align: top;
}

img, iframe { border: 0; }

ul { padding: 0; }
ul li { list-style-type: none; }

a {
	text-decoration: none;
	color: $highlight;
}

/* GRID */
$max-width: 1024px;
$gutter: 30px;
$border-box-sizing: false;

/* LAYOUT */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.375;
	color: $body-color;
}

.main-container {
	@include outer-container;
}

/* HEADER */
.header {
	@include outer-container;
}

.logo {
	float: left;
	@include span-columns(2);
}

.logo a {
	color: $highlight;
	text-decoration: none;
}

.main-nav li {
	display: block;
	@include span-columns(2);
	padding: 40px 0 50px;
}

.main-nav a {
	display: block;
	color: $body-color;
	text-decoration: none;
}

.main-nav strong {
	font-size: 1.3em;
	line-height: 1;
	display: block;
}

.main-nav span {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

/* FOOTER */
.footer {
	background-color: $light-grey;
	padding: 1.5em;
}

/* MOCKUP */
.link-mockup {
	display: block;
	position: absolute;
	text-indent: -9999px;
}

.prepare-link-stories,
.prepare-link-things {
	width: 487px;
	height: 379px;
	top: 941px;
	left: 43px;
}

.prepare-link-things {
	left: 550px;
}

.story-to-detail {
	top: 174px;
	left: 46px;
	width: 1001px;
	height: 460px;
}

/* HOME */
.video-opening {
	width: 1024px;
	height: 576px;
}

.main-intro h2,
.col-3 h3 {
	color: $dark-grey;
}

.main-intro p {
	font-size: 21px;
}

.col-3 {
	@include outer-container;
}

.col-3 li {
	@include span-columns(4);
	@include omega(3n);
}

.intro-video {
	position: relative;
}

.tooltip {
	width: 300px;
	position: absolute;
	padding: 20px 20px 20px 80px;
	top: 15px;
	right: -10px;
	font-size: 16px;
	background-color: $highlight;
	color: #FFF;
}

.my-people,
.my-stuff,
.near-me {
	background: url(http://placekitten.com/296/296/) no-repeat top left;
	height: 296px;
	width: 296px;
	padding: 200px 20px 0;
}

.my-people a,
.my-stuff a,
.near-me a {
	display: block;
	color: #FFF;
	font-weight: bold;
}


/* PREPARE */
.main-container {
	background: image-url(04-prepare) no-repeat top left;
}
