/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* MOCKUP */
.link-mockup {
	display: block;
	position: absolute;
	text-indent: -9999px;
}

.menu-home,
.menu-connect,
.menu-prepare,
.menu-about {
	width: 160px;
	height: 60px;
	top: 52px;
}

.menu-home { left: 40px;}
.menu-connect { left: 218px; }
.menu-prepare { left: 398px; }
.menu-about { left: 578px; }

.prepare-link-stories,
.prepare-link-things {
	width: 487px;
	height: 379px;
	top: 941px;
	left: 43px;
}

.prepare-link-things {
	left: 550px;
}