/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bourbon";
@import "neat";
@import "icons";

/* Main colors */
$dark-grey: #4D4D4D;
$body-color : #898989;
$body-light: #a2a2a2;
$mid-grey: #b4b4b4;
$light-grey: #e6e6e6;

$highlight: #FBB03B;
$highlight-dark: #F15A24;

/* Fonts options */
$font-light:'HelveticaNeueW01-45Ligh';
$font-regular:'HelveticaNeueW01-55Roma';
$font-medium:'HelveticaNeueW01-65Medi';
$font-bold:'HelveticaNeueW01-75Bold';

/* CSS Mini Reset */

html, body, div, form, fieldset, legend, label {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	text-align: left;
	vertical-align: top;
}

img, iframe { border: 0; }

ul { padding: 0; }
ul li { list-style-type: none; }

a {
	text-decoration: none;
	color: $highlight;
}

/* GRID & Typography */
$max-width: 960px;
$gutter: 30px;
$border-box-sizing: false;

h2 {font-size: 2rem; font-family: $font-medium;}
h3 {font-size: 1.5rem; font-family: $font-medium;}
h4 {font-size: 1.3rem;}
$intro-size: 21px;
h5 {margin: 0}

/* LAYOUT */
body {
	font-family: $font-regular;
	font-size: 16px;
	line-height: 1.625;
	color: $body-color;
}

.main-container {
	@include outer-container;
	width: 960px;
}

/* HEADER */
.header {
	@include outer-container;
}

.logo {
	float: left;
	@include span-columns(2.4);
	margin-top: 2.6rem;
}

.logo a {
	margin-top: 0.9rem;
	display: block;
	text-indent: -9999px;
	width: 114px;
	height: 40px;
	background: url(sf72-logo.png) no-repeat top left;
}

.main-nav > li {
	@include span-columns(2.2);
	padding: 53px 0 44px;
	position: relative;
}

.main-nav {

	a {
		display: block;
		color: $body-color;
		text-decoration: none;
	}

	strong {
		display: block;
		margin-bottom: -0.28rem;
		font-family: $font-medium;
		font-size: 1.25rem;
		font-weight: normal;
		line-height: 1;
	}

	span {
		text-transform: uppercase;
		font-size: 0.6rem;
		font-family: $font-medium;
	}

	li.active {
		border-top: 3px solid orange;
		padding-top: 50px;
	}

	li.active, li:hover {
		a {
      		color: $highlight;
		}
	}

	.submenu {
		line-height: 1.4;
		margin: 0 0 -0.8rem;
		top: 5.8rem;
		font-family: $font-medium;
		display: none;
		@include transition(all 0.5s ease-in);
	}

	li:hover .submenu {
		display: block;

		a {
			color: $body-color;
		}

		a:hover {
			color: $highlight;
		}
	}

}

/* FOOTER */
.footer {
	background-color: $light-grey;
	padding: 1.5em;
	margin-top: 2rem;
}

.by-line {
	@include span-columns(4);
	@include shift(0.7);
	position: relative;
	margin-top: 1.2rem;
	font-size: 0.9rem;
	line-height: 1.25;
}

.by-line:before {
	font-family: 'sf72-icons';
	font-size: 1.8rem;
	content: 'y';
	color: $dark-grey;
	position: absolute;
	top: 1rem;
	left: -3.5rem;
}

/* MOCKUP */
/* .home { background: url(/assets/00-home.png) -30px 0; } */
/* .home-em { background: url(/assets/01-home-em.png) center -288px no-repeat; } */
/* .connect { background: url(/assets/03-connect.png) -30px 0; } */
/*.prepare { background: url(/assets/04a-prepare.png) -30px 0; } */
/* .prepare-popup { background: url(/assets/04b-prepare-popup.png) center 0 no-repeat; } */
/* .stories { background: url(/assets/05-stories.png) -30px 0; } */
/* .story-detail { background: url(/assets/06-story-detail.png) -30px 0; } */
/* .things { background: url(/assets/07-things.png) -30px 0; } */
/* .about { background: url(/assets/08-about.png) -30px 0; } */

/* HOME */
.video-opening {
	width: 100%;
	height: 33.5rem;
}

.intro-row {
	@include outer-container;
}

.main-intro {
	@include span-columns(7);
	padding-left: 1.8rem;
	margin-bottom: 2.9rem;
}

.intro-app {
	@include span-columns(3.5);
	@include shift(1);
	margin-top: 3.5rem;
	font-family: $font-medium;
	font-size: 1.125rem;
	line-height: 1.3;
	padding: 3.6rem 1.5rem;
	position: relative;
}

.intro-app span {
	color: $body-color;
}

.intro-app strong {
	display: block;
	margin-top: 0.6rem;
}

.intro-app:after {
	position: absolute;
	left: 0.35rem;
	top: 3.85rem;
	height: 14.6rem;
	border-left: 2px solid #FBB03B;
	content: '';
}

.main-intro h2,
.col-3 h4 {
	line-height: 1.2;
	color: $dark-grey;
	font-family: $font-medium;
}

.main-intro h2 {
	margin-bottom: 0;
}

.main-intro p {
	line-height: 1.38;
	color: #A0A0A0;
	font-size: 21px;
	margin: 10px 0;
}

.col-3 {
	@include outer-container;
}

.col-3 li {
	@include span-columns(4);
	@include omega(3n);
}

.intro-video,
.page-intro {
	position: relative;
}

.tooltip {
	position: absolute;
	top: 2rem;
	right: -0.5rem;
	width: 0;
	padding: 1.1rem 1rem 1rem;
	font-family: $font-medium;
	font-size: 1rem;
	background-color: $highlight;
	color: #FFF;
	@include transition(all 0.3s ease-in);
	overflow: hidden;

	.tooltip-content {
		margin-left: 4rem;
		width: 13.8rem;
		opacity: 0;
		@include transition(all 0.3s ease-in);
		text-align: left;
		font-family: $font-regular;
	}
}

.tooltip:before,
.tooltip:after {
	font-family: "sf72-icons";
	content:'y';
	color: #FFF;
	position: absolute;
	top: 0.4rem;
	left: 0.5rem;
	font-size: 1.05rem;
	opacity: 1;
	@include transition(all 0.3s ease-in);
}

.prepare .tooltip:after {
	font-family: "sf72-icons";
	content:'c';
	opacity: 0;
	font-size: 3rem;
	left: 1.2rem;
	top: 0.9rem;
}

.big-title:hover .tooltip,
.intro-video:hover .tooltip {
	width: 19.8rem;

	.tooltip-content {
		opacity: 1;
		@include transition(all 0.3s 0.3s ease-in);
	}

}

.big-title:hover .tooltip:before {
	opacity: 0;
}

.prepare .big-title:hover .tooltip:after {
	opacity: 1;
}

.col-3 h4,
.col-3 p {
	padding: 0 1rem 0 1.25rem;
}

.col-3 h4 {
	margin-bottom: 0;
}

.col-3 p {
	margin-top: 0.7rem;
}

.my-people,
.my-stuff,
.near-me {
	background: url(http://placekitten.com/300/220/) no-repeat top left;
	width: 300px;
	height: 220px;	
}

.social-media {
	margin: 0.4rem 0 -2.6rem;
	@include shift(10);
	padding-left: 3.2rem;

	li {
		display: inline-block;
		margin-right: 0.4rem;
	}

	a {
		font-size: 1.6rem;
		color: $mid-grey;
		font-size: 1.6rem;
	}

	a:hover {
		font-size: 1.6rem;
		color: $dark-grey;
		font-size: 1.6rem;
	}
}

.page-intro .big-title {
	background: url(http://placekitten.com/960/492/) no-repeat left top;
	width: 960px;
	height: 492px;
	text-align: center;
	padding-top: 12.3rem;

	h1 { 
		font-size: 6.25rem;
		margin: 0;
		line-height: 1;
		color: #FFF;
	}

	span { 
		display: block;
		margin: 0.6rem 0 0;
		font-size: 0.8rem;
		text-transform: uppercase;
		color: #FFF;
	}
}

.page-intro strong {
	display: block;
	font-family: $font-regular;
}

.page-intro h2 {
	margin: 1.6rem 0 0 1.9rem;
	color: $dark-grey;
	font-family: $font-medium;
	font-size: 2.2rem;
}

.page-intro p {
	margin: 0.1rem 0 2.5rem 1.8rem;
	line-height: 1.35;
	width: 43rem;
	font-size: 1.3rem;
}

/* HOME - EMERGENCY MODE */

.wrapper {
	@include outer-container;
	width: 960px;
}

.em-header {
	position: relative;
	z-index: 1;
}

.alert-wide {
	color: #FFF;
	background: $highlight-dark;
	width: 100%;
	z-index: 0;
	margin: -0.9rem 0 0.1rem;

	.wrapper {
		padding: 2.6rem 5rem 2.7rem 0;
		position: relative;
	}

	h3 {
		margin: 0;
	}

	p {
		margin-top: 0;
		font-size: 1rem;
		line-height: 1.25;
	}

	.alert-info {
		@include span-columns(7.5);
	}

	.em-quick-guide-trigger {
		position: absolute;
		right: 0;
		top: 2.6rem;

		a {
			cursor: pointer;
			margin-top: 1.1rem;
			border-radius: 4px;
			display: inline-block;
			background-color: #FFF;
			padding: 0.5rem 3rem 0.5rem 1rem;
			color: $highlight-dark;
			font-family: $font-medium;
			position: relative
		}

		a:after {
			font-family: "sf72-icons";
			content: "1";
			position: absolute;
			right: 0.5rem;
			top: 0.5rem;
		}

		.hide-quick-guide {
			display: none;
			background-color: #E5E5E5;
			color: $dark-grey;
		}

		.hide-quick-guide:after {
			content: "3";
			padding-top: 0.08rem;
			font-size: 0.9rem;
		}
	}

	.em-quick-guide-trigger.active {
		top: 10.3rem;

		.show-quick-guide { display: none; }
		.hide-quick-guide { display: block; }
	}

}

.em-quick-guide {
	display: none;
	background-color: #F4F4F4;
	box-shadow: #DDD 0 -10px 10px inset;

	h3 {
		color: $highlight-dark;
	}

	.quick-guide li:before {
		background-color: $mid-grey;
	}
}

.em-quick-guide.active {
	display: block;
}

.map-heading {
	@include span-columns(6);
	h3 {
		color: $highlight-dark;

		.icon-refresh {
			vertical-align: middle;
			display: inline-block;
			font-size: 1.3rem;
			color: $mid-grey;
		}
	}
}

.map-actions {
	@include span-columns(6);
	margin-top: 1.2rem;

	.social-media {
		@include shift(3);
		padding-left: 1.2rem;
		margin-right: 1rem;
		float: left;

		a {
			margin-right: 0.4rem;
			font-size: 1.5rem;
		}

		span.icon-mail {
			font-size: 0.8em;
		}

		span.icon-print {
			font-size: 0.9em;
		}
	}

	.map-tips-trigger {
		display: inline-block;
		padding: 0.5rem 1.2rem;
		margin-top: 0.3rem;
		border-radius: 4px;
		font-family: $font-medium;
		background-color: $light-grey;
		color: $dark-grey;
	}
}

.input-address {
	margin: 0.6rem 0;
	padding: 0.4rem;
	font-size: 0.8rem;
	border: 1px solid #DDD;
	width: 17.6rem;
}

.map-area {
	width: 100%;
	height: 25.3rem;
	background-color: rgba(250, 250, 250, 0.9);
}
.map-area iframe {
	width: 100%;
}

.tw-tabs-container {
	background-color: #666;

}

.tw-tabs {
	@include outer-container;
	margin-top: 0;
	width: 960px;

	li {
		@include span-columns(4);
	}
}

.tw-tabs a {
	display: inline-block;
	padding: 2.7rem 0 2.5rem 4.7rem;
	font-family: $font-medium;
	line-height: 1.3;
	color: #FFF;
	position: relative;
	opacity: 0.5;

	h3 {
		font-size: 1.625rem;
		margin: 0;
	}

	span {
		font-size: 0.825rem;
		text-transform: uppercase;

	}

	.updates-count {
		position: absolute;
		top: 2.85rem;
		left: 2.1rem;
		border: 2px solid;
		padding: 0.2rem;
		line-height: 1.2;
	}
}

.tw-tabs a:hover,
.tw-tabs .active a {
	opacity: 1;
}

.tw-tabs .active a:after {
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 15px 16px 15px;
	border-color: transparent transparent #ffffff transparent;
	position: absolute;
	bottom: 0;
	left: 5.2rem;
}

.active-hashtags {
	margin-left: 8.2rem;

	strong {
		font-size: 0.8rem;
		font-family: $font-medium;
		color: $highlight-dark;
		padding-right: 1rem;
	}
}

.active-hashtags h4 {
	line-height: 1;
	font-size: 18px;
	margin: 0;
}

.stream {
	margin-top: 1rem;

	.tweet {
		@include outer-container;
		margin-bottom: 0.5rem;
		padding: 1.5rem 1rem;
		border-bottom: 2px solid $light-grey;
	}

	.tweet-avatar {
		@include span-columns(2.4);
		text-align: center;
		font-size: 1.1rem;
		padding-right: 0.2rem;

		img {
			border-radius: 50%;
		}
	}

	.tweet-body {
		@include span-columns(9.6);	

		h4 {
			margin: 0rem 0 0.8rem;
			line-height: 1;
			font-family: $font-medium;
			font-size: 1.1rem;
			font-weight: normal;
			
			color: #3FA8F4;

			span {
				color: $mid-grey;
			}
		}

		p {
			margin-top: 0.2rem;
			font-size: 1.2rem;
			line-height: 1.4;
			color: $dark-grey;
		}
	}

	.date {
		font-size: 1.1rem;
		color: $mid-grey;
	}

}

.updates .btn-rounded {
	@include shift(2.4);
}



.status {
	display: none;
	margin-top: 4.1rem;
	padding-left: 1rem;

	li {
		margin-bottom: 2.2rem;
	}

	h3 {
		color: $dark-grey;
		margin-bottom: 0;
	}

	h4 {
		border-bottom: 3px solid;
		font-family: $font-medium;
		font-size: 1rem;
		margin: 0.1rem 0 0;
		letter-spacing: -1px;
	}
}

.alerts-list {

	h2 {
		line-height: 1.37rem;
		font-size: 1.2rem;
		margin: 1.5rem 0 0.5rem;
		color: $highlight-dark;
	}

	p {
		line-height: 1.35;
		margin: 0 0 0.5rem;
		font-family: $font-medium;
		font-size: 0.8rem;
		color: $dark-grey;
	}

	a {
		line-height: 1.35;
		margin: 0 0 0.5rem;
		font-size: 0.8rem;
		color: $body-color;
		text-decoration: underline;
	}

}

/* CONNECT */
.app-signup {
	@include outer-container;
}

.app-details {
	@include span-columns(4.5);
	padding-left: 1.8rem;
}

.btn-rounded {
	margin-top: 0.9rem;
	font-size: 1.5rem;
	color: #FFF;
	padding: 0.5rem 1.3rem;
	display: inline-block;
	background-color: $highlight;
	border-radius: 2rem;
	cursor: pointer;
	min-width: 11.7rem;
	text-align: center;
}

.btn-rounded:hover {
	background-color: $dark-grey;
}

.app-video {
	@include span-columns(7.5);
	width: 60.4%;
	height: 324px;
	margin-top: 1.5rem;
	background: $light-grey url(http://placekitten.com/580/325/) no-repeat top left;
}

.in-context {
	@include outer-container;
	margin-top: 7.7rem;
}

.in-context li {
	@include span-columns(6)
}

.in-context p{
	margin-left: 1.8rem;
	margin-top: 0.4rem;
}

/* PREPARE */

.prepare .tooltip {
	line-height: 1.25;
	font-size: 0.95rem;	
}

.col-2 {
	@include outer-container;
}

.col-2 li {
	@include span-columns(6);
	@include omega(2n);
}

.prepare-sections {
	margin-top: 3.8rem;
}

a.prepare-people,
a.prepare-things
 {
	background: url(http://placekitten.com/493/378/);
	display: block;
	color: #FFF;
	padding: 0.8rem 1rem 1rem;
	height: 22.6rem;
	position: relative;
}

a.prepare-people p,
a.prepare-things p {
	margin: 1rem 10rem 0 1rem;
	line-height: 1.4;
	font-size: 1.1rem;
}

a.prepare-people strong,
a.prepare-things strong {
	position: absolute;
	bottom: 0.6rem;
	left: 1.8rem;
	font-family: $font-medium;
	font-size: 2.7rem;
	display: block;
}

a.prepare-people:after,
a.prepare-things:after {
	font-family: 'sf72-icons';
	speak: none;
	content: 's';
	font-size: 1.8rem;
	position: absolute;
	bottom: 1rem;
	right: 1.8rem;
}

a.checklist {
	font-size: 1.1rem;
	text-decoration: underline;
	padding-left: 1.8rem;
	margin-top: 1rem;
	display: block;
	position: relative;
}

a.checklist:before {
	font-family: 'sf72-icons';
	speak: none;
	content: 'q';
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.4em;
	top: -0.3em;
}

.basics-intro {
	margin-top: 3.6rem;
}

.basics-intro h2 {
	margin: 0 1.8rem;
	font-size: 2.25em;
	line-height: 1.25;
	color: $dark-grey;
}

.basics-intro p {
	margin: 0.2rem 1.9rem;
	font-size: 1.3em;
}

.basics-block {
	background-color: $light-grey;
	padding: 2rem 2rem 0.6rem;
	margin: 1.2rem auto 1.8rem;
	@include outer-container;
}

.quick-guide-trigger,
.basics-video {
	@include span-columns(6);
}

.basics-video {
	@include omega;
}

.quick-guide-trigger {
	padding-top: 4.9rem;
	position: relative;

	h3 {
		margin: 0;
		color: $highlight-dark;
	}

	p {
		padding-right: 10rem;
		margin-top: 0;
		font-family: $font-medium;
		font-size: 1.3em;
		line-height: 1.25em;
		color: $body-light;
	}
}

.quick-guide-trigger:before {
	font-family: "sf72-icons";
	content: "a";
	position: absolute;
	top: 0;
	font-size: 3.47rem;
	color: $highlight-dark;
}

.video-future {
	margin: 0 0 0.2rem 0.8rem;
	background-color: #FBB03B;
	width: 427px;
	height: 213px;
}

.basics-video strong {
	padding-left: 0.8rem;
	font-family: $font-medium;
	color: $dark-grey;
}

.alert-sf-block {
	background-color: $highlight;
	padding: 1.2rem;
	color: #FFF;
	position: relative;
	
	h2 {
		padding-left: 4.4rem;
		font-size: 2.2em;
		margin: 1.5rem 0 0.8rem;
	}

	p {
		position: absolute;
		font-size: 1.3em;
		right: 4rem;
		top: 0.8rem;
		width: 24.5rem;
		line-height: 1.2;
	}
	
	.input-text {
		background-color: rgba(0, 0, 0, 0);
		margin: 0 0.9rem 0 4.2rem;
		padding: 0.7rem 1.2rem 0.7rem;
		border: 2px solid #FFF;
		width: 24.7rem;
		font-size: 1.5rem;

		@include placeholder {
		    color: #FFF;
		}
	}

	.btn {
		line-height: 1;
		background-color: #FFF;
		border: 0;
		padding: 0.8rem 1.8rem;
		font-family: $font-medium;
		font-size: 1.6em;
		color: $highlight;
		margin-right: 0.8rem;
		cursor: pointer;
	}

	.btn:hover {
		background-color: $dark-grey;
		color: #FFF;
	}

	.btn.tips {
		@include omega;
	}
}

.alert-sf-block:after {
	font-family: "sf72-icons";
	position: absolute;
	content: 'b';
	top: 0.8rem;
	left: 2.5rem;
	font-size: 4rem;
}

.basics .modal-bg,
.basics .modal {
	display: none;
}

.basics .modal-bg.active,
.basics .modal.active {
	display: block;
}

.modal-bg {
	height: 120rem;
	position: absolute;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background: rgba(0,0,0,0.6);
}

.modal {

	position: absolute;
	max-width: 940px;
	left: 50%;
	margin-left: -470px;
	top: 50.6rem;
	padding: 4.3rem 4.3% 0;
	background-color: #FFF;
	z-index: 2;

	h4 {
		margin: 4.3rem 0 0 7.9rem;
		font-family: $font-medium;
		font-size: 1em;
		font-weight: normal;
	}

	.modal-title,
	.event-after {
		margin: 0.1rem 7.9rem 0;
		font-size: 2.2rem;
		color: $highlight-dark;
	}
}

.quick-guide {
	margin: 0;
	padding: 0;
	counter-reset: list-counter;
	
	h2 {
		margin: -0.3rem 0 0;
		font-size: 2.2rem;
		line-height: 1;
		color: $dark-grey;
	}

	li {
		list-style:none;
		padding-left: 7.9rem;
		margin-bottom: 4.5rem;
	}

	li:before {
		content: counter(list-counter);
		counter-increment: list-counter;
		float: left;
		margin-left:-7.9rem;
		padding: 0.7rem 1.8rem;
		padding: 0.5rem 1.8rem;
		font-family: $font-medium;
		font-size: 2.2rem;
		color: #FFF;
		background-color: $highlight-dark;
		border-radius: 50%;
	}

	p {
		margin: 0.4rem 0 0;
		font-size: 1.3rem;
		line-height: 1.7rem;
	}
}

.modal .event-after { color: $highlight; }
.quick-guide.second li:before{ background-color: $highlight }

.modal-share p {
	padding: 0.2rem 0 0 7.9rem;
	font-family: $font-medium;
	font-size: 1.3rem;
	line-height: 1.3;
	color: $highlight;
}

/* STORIES */

.stories .intro,
.things .intro {
	position: relative;
	width: 960px;
	height: 28.8rem;
	
	background: url(http://placekitten.com/960/460/);
	color: #FFF;

	.photo-overlay {
		position: absolute;
		left: 1.8rem;
		bottom: 3.1rem;
		width: 57rem;
	}

	h2 {
		line-height: 1;
		margin: 0;
	}

	p {
		margin: 0.7rem 14rem 0 0;
		line-height: 1.25;
		font-size: 1.35rem;
	}
}

.stories h3 {
	margin: 1.9rem 0.7rem 0;
	color: $dark-grey;
	letter-spacing: -1px;
}

.story-list {
	margin-top: 0.5rem;
}

.story-list li {
	margin-bottom: 2rem;
}

.story-data {
	margin-top: 0.5rem;
}

.story-data h5 {
	color: $dark-grey;
	font-family: $font-bold;
}

.story-data p {
	margin: 0;
	color: $body-color;
	font-size: 0.83rem;
	line-height: 1;
}

.story-type {
	height: 2rem;
	float: left;
	margin-right: 0.5rem;
}

.story-type span {
	font-size: 1.5rem;
	display: block;
	margin-top: 0.3rem;
}

/* STORY DETAIL */

h2 .story-disaster {
	color: $body-color;
}

.story-description {
	margin-top: 3.2rem;

	h3 { 
		margin-bottom: 0;
		color: $dark-grey;
	}
	p { margin-top: 0;}
}


.main-quote {
	@include span-columns(4);
	@include shift(1);
	padding: 0 1.1rem;
	margin-top: 10rem;
	font-family: $font-medium;
	font-size: 1.5rem;
	color: $highlight;
	border-left: 1px solid;
	line-height: 1.2;
}

.needed-list,
.learned-list,
.story-list {
	@include outer-container;
}

.needed-list li,
.learned-list li,
.story-list li {
	@include span-columns(4);
	@include omega(3n);
}

.needed h3,
.learned h3,
.similar h3 {
	margin: 0;
	padding-left: 1.8rem;
	color: $dark-grey;
}

.needed p {
	font-size: 1.3rem;
	font-family: $font-medium;
	line-height: 1.5rem;
	text-indent: -0.5rem;
	margin-top: 0.5rem;
	padding-left: 1.8rem;
}

.learned {
	margin-bottom: 2.7rem;
}

.learned-list {
	margin-top: 0.5rem;
}

.learned-list li {
	background-color: $light-grey;
	position: relative;
	height: 13.8rem;
	font-family: $font-medium;
	padding: 0 1rem 0.5rem 1.8rem;
	text-indent: -0.5rem;
	font-size: 1.3rem;
	line-height: 1.5rem;
	height: 13.8rem;
}

.learned-list p {
	margin: 1rem 0 0;
}

.learned-list a {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: $highlight-dark;
	font-size: 1.5rem;
	padding: 1rem 1rem 1rem 2.4rem;
}

.learned-list a:hover {
	color: $dark-grey;
}

.learned-list a:before {
	font-family: 'sf72-icons';
	content: 's';
	position: absolute;
	right: 1.2rem;
	top: 1.1rem;
}

/* THINGS */

.action-bar {
	@include outer-container;
}

.action-bar .tabs {
	@include span-columns(8.8);
	padding-left: 1.8rem;

	li {
		text-align: center;
		display: inline-block;
		margin: 1.4rem 0.9rem 0 0;
		font-family: $font-medium;
		font-size: 1.6rem;
		position: relative;

		a {
			color: $body-light;
			display: block;
			padding: 0.6rem 0.2rem;
			border: 1px solid $body-light;
			width: 12.6rem;
		}
	}

	li:hover a, li.active a {
		color: $highlight;
	}

  	li.active:before,
  	li:hover:before {
	    content: ' ';
	    border-color: #999 transparent transparent;
	    border-style: solid;
	    border-width: 14px;
	    position: absolute;
	    bottom: -27px;
	    left: 50%;
	    margin-left: -14px;
	}

	li.active:after,
	li:hover:after {
	    content: ' ';
	    border-color: #FFF transparent transparent;
	    border-style: solid;
	    border-width: 13px;
	    position: absolute;
	    bottom: -24px;
	    left: 50%;
		margin-left: -13px;
	}
}


.action-bar .list-download {
	@include span-columns(3.2);
	margin-top: 2rem;

	a {
		display: block;
		text-decoration: underline;
		width: 12.6rem;
		padding: 1.6rem 0.2rem 1.1rem 3rem;
		font-size: 1.1rem;
		position: relative;
	}
}

.list-download a:before {
	font-family: 'sf72-icons';
	content: "q";
	font-size: 1.5rem;
	position: absolute;
	top: 1.3rem;
	left: 1rem;
}

.tabs-content {
	margin-top: 0;
}

.tab-tip{
	font-size: 1.3rem;
	margin-top: 0.2em;
	padding-left: 1.8rem;
}

.things-list,
.kits-list {
	@include outer-container;
}

.things-list li,
.kits-list li {
	@include span-columns(4);
	@include omega(3n);
}

.things-list {
	margin-top: 3.1rem;
}

.things-list li {
	margin-bottom: 4.5rem;
}

.things-list h4 {
	margin: 0.3rem 0 0;
	font-family: $font-medium;
	color: $dark-grey;
	font-size: 1rem;
	text-align: center;
}

.overlay-text {
	display: none;
}

.kits h2, .kits p {
	margin-left: 1.8rem;
}

.kits h2 {
	margin: 1.4rem 1.8rem 0;
	line-height: 1;
	font-size: 2.2rem;
	color: $dark-grey;
}

.kits p {
	font-size: 1.3rem;
	line-height: 1.2;
	margin: 0.8rem 15rem 2.5rem 1.8rem;
}

.kits-list a {
	display: block;
}

.kits-list span {
	display: block;
	text-align: center;
	line-height: 1;
	font-family: $font-medium;
	color: $dark-grey;
}

/* TOUR */

.tour-modal .modal {
	top: 17.7rem;
}

.tour-modal .modal-title {
	margin-left:0;
}

.tour-intro {
	
	h2 {
		color: $dark-grey;
		margin: 0;
		line-height: 1;
	}

	p {
		margin: 0.6rem 0 4.8rem;
		font-size: 1.3rem;
		line-height: 1.5;
	}
}

.tour-tooltip {
	background-color: #EDEDED;
	border: 1px solid #C2C2C2;
	border-radius: 4px;
	font-size: 0.85rem;
	padding: 1rem 2rem 1rem 6.4rem;
	width: 21rem;
	@include box-shadow(2px 2px 4px rgba(0,0,0,.25));

	p {
		margin: 0;
	}
}