@import "ladda-bootstrap/dist/ladda-themeless";
@import "bootstrap";

body {
  color: #232323;
}

a {
  font-size: 14px;
  color: #009CE9;
  font-weight: bold;
  line-height: 17px;
}

h2 {
  font-size: 21px;
  line-height: 23px;
}

h3 {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 0;
}

ul {
  padding: 0 0 0 1.3em;
}

/* GENERAL */
$accent-gold: #FBAF33;
$accent-green: #A2C63A;
$accent-blue: #477B95;
$orange-em: #ef561c;
$light-grey: #f2f2f2;

.container {
  width: 980px !important;
}

.btn {
  @extend .btn-default
}

/* HEADER */

.header {
  margin: 3rem 0;

  .emergency {
    @extend .pull-right;
    color: $orange-em;
    padding: 15px 0 0;

    label { padding-right: 15px;}
  }
}

.logo {
  color: $accent-gold;
  font-weight: bold;
}

/* NAV */

.navbar {
  background-color: #f2f2f2;

  .nav {
    width: 100%;
  }

  a {
    color: #2b2a26;
    font-weight: bold;
  }

  .em-menu {
    @extend .navbar-right;

    a {
      color: $orange-em;
    }
  }

}

.user a {
  font-weight: normal;
}

/* LANDING */
.landing {
  text-align: center;
}

/* GENERAL FORM STYLES */

.screen-intro {
  @include make-row();
}

.screen-info {
  font-size: 24px;
  color: #505050;
  @include make-sm-column(8);
}

.action-area {
  @include make-sm-column(3);
  @include make-sm-column-offset(1);
  text-align: right;
}

.form-group {
  margin: 5rem 0;
}

label .help {
  font-weight: normal;
}

.input-multi {
  margin: 1rem 0;
}

.input-sm, .input-group.input-sm { width: 100px; }
.input-md, .input-group.input-md  { width: 360px; }
.input-lg, .input-group.input-lg  { width: 700px; }

.form-control { @extend .input-md; }
.input-sm .form-control { @extend .input-sm; }
.input-lg .form-control { @extend .input-lg; }

textarea.form-control {
  width: auto;
}

.add-btn {
  display: inline-block;
  margin: 0 0 2rem;
  cursor: pointer;
}

.form-actions {
  margin: 3rem 0;
}

.radio {
  margin-bottom: 0px;
}

.form-actions .btn {
  @extend .btn-lg;
}

.req {
  font-size: 2rem;
  line-height: 1em;
  @extend .text-danger;
}

.img-group {
  background-color: #f4f4f4;
  margin: 0 -5rem .5rem;
  padding: .5rem 5rem;
}

/* EDITABLE LISTS */
.editable-list {
  @extend .clearfix;
  padding: 0;

  li {
    width: 300px;
    float: left;
    border: 1px solid #C1C1C1;
    padding: 2rem;
    list-style-type: none;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.18);
    margin: 0 1.5rem 1.5rem 0;
  }

  li:nth-child(3n) {
    margin-right: 0;
  }

  .list-element.inactive {
    opacity: 0.2;
  }

  .list-element a {
    color: $accent-gold;
  }

  .btn {
    display: block;
    width: 100%;
    max-width: 320px;
    background-image: linear-gradient(-179deg, #F2F2F2 0%, #D4D4D4 100%);
    border: 1px solid #979797;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 2px 0px 0px #FFFFFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px #FFF;
    text-shadow: 0px 2px 0px rgba(255, 254, 255, 0.5);

    &:hover {
      background-image: linear-gradient(-179deg, #E2E2E2 0%, #C4C4C4 100%);
    }
  }

  .include-field {
    display: block;
    margin: -1rem -2rem 0;
    padding: 0 2rem 1rem;
    border-bottom: 1px solid #C1C1C1;
    max-width: 320px;
  }

  .list-actions {
    margin: 2rem -2rem -1rem;
    padding: 1rem 1rem 0;
    border-top: 1px solid #C1C1C1;
  }

  &.wide {
    li {
      width: 100%;
      float: none;
    }
  }
}

.editable-list.half-width li { width: 467px; }
.editable-list.half-width li:nth-child(2n) { margin-right: 0; }
.editable-list.half-width li:nth-child(3n) { margin-right: 1.5rem ; }

/* MODALS */
.modal-footer {
  text-align: left;
}

/* SPECIAL STYLES */


/* CONNECTIONS */

.twitter-accounts {
  @include make-row();

  .form-group {
    @include make-sm-column(5);
  }

  .help-block {
    @include make-sm-column(6);
  }
  
  .help-block-title {
    margin: 47px 0 0;
  }
}


/* SUPPLIES */

.supplies {
  .editable-list {
    margin-bottom: 7rem;
  }
}

/* MAP & UPDATES */

.map-link-container,
.timelines-container {
  @include make-sm-column(5);
}

.map-link-instructions,
.timelines-instructions {
  @include make-sm-column(6);

  h2 {
    font-size: 1em;
    margin: 5rem 0 0;
  }
  
  ol {
    @extend .help-block;
    padding: 0 0 0 1.3em;
  }
  
}