@import "bootstrap";

body {
  color: #232323;
}


/* GENERAL */
$accent-gold: #FBAF33;
$accent-green: #A2C63A;
$accent-blue: #477B95;
$orange-em: #ef561c;
$light-grey: #f2f2f2;

.container {
  width: 768px !important;
}

/* HEADER */

.header .emergency {
  @extend .pull-right;
  color: $orange-em;
  padding: 15px 0 0;

  label { padding-right: 15px;}
}

.logo {
  color: $accent-gold;
  font-weight: bold;
}


/* NAV */

.navbar {
  background-color: #f2f2f2;

  a {
    color: #2b2a26;
    font-weight: bold;
  }

  .em-menu a {
    color: $orange-em;
  }
}

/* LANDING */
.landing {
  text-align: center;
}

/* GENERAL FORM STYLES */

.screen-intro {
  @include make-row();
}


.screen-info {
  font-size: 24px;
  color: #505050;
  @include make-sm-column(8);
}

.action-area {
  @include make-sm-column(3);
  @include make-sm-column-offset(1);
}

label .help {
  font-weight: normal;
}