@import "ladda-bootstrap/dist/ladda-themeless";
@import "bootstrap";
@import "font_miso";

body {
  color: #232323;
}

a {
  font-size: 14px;
  color: #009CE9;
  font-weight: bold;
  line-height: 17px;
}

h2 {
  font-size: 21px;
  line-height: 23px;
}

h3 {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 0;
}

ul {
  padding: 0 0 0 1.3em;
}

/* GENERAL */
$accent-gold: #FBAF33;
$accent-green: #A2C63A;
$accent-blue: #477B95;
$orange-em: #ef561c;
$light-grey: #f2f2f2;

.container {
  width: 980px !important;
}

.btn {
  @extend .btn-default
}

/* HEADER */

.header {
  margin: 3rem 0 6rem;

  .emergency {
    @extend .pull-right;
    color: $orange-em;
    padding: 15px 0 0;

    label { padding-right: 15px; }

    .btn-em { margin-left: 15px; }

    form { display: inline-block; }
  }
}

.logo { padding-top: 1rem; }

#logo {
  margin-top: 1.5rem;
  text-align: center;
  padding: .5rem 1rem;

  img {
    max-width: 170px;
    max-height: 60px;
    float: left;
  }
}

#logo:hover {
  text-decoration: none;
}

.text-logo {
  display: block;
  font-family: "misobold";
  text-transform: uppercase;
  font-size: 4.5rem;
  margin: 2.5rem 0;
  color: #f15a24;
  letter-spacing: 4px;
  float: left;
}

/* NAV */

.navbar {
  background-color: #f2f2f2;

  .nav {
    width: 100%;
  }

  a {
    color: #2b2a26;
    font-weight: bold;
  }

  .em-menu {
    @extend .navbar-right;

    a {
      color: $orange-em;
    }
  }

}

.navbar-nav > li.active > a {
  padding-bottom: 11px;
  border-bottom: 4px solid $accent-gold;
}

.user a {
  cursor: pointer;
}

/* LANDING */
.landing {
  text-align: center;
}

/* GENERAL FORM STYLES */

.alert {
  position: fixed;
  top: 20px;
  z-index: 999;
  width: 470px;
  left: 50%;
  margin-left: -235px;
}

.screen-intro {
  @include make-row();
}

.screen-info {
  font-size: 24px;
  color: #505050;
  @include make-sm-column(8);
}

.action-area {
  @include make-sm-column(3);
  @include make-sm-column-offset(1);
  text-align: right;
}

.form-group {
  margin: 5rem 0;
}

.modal .form-group {
  margin: 2rem 0;
}

label .help {
  font-weight: normal;
}

.input-multi {
  margin: 1rem 0;
}

.input-sm, .input-group.input-sm { width: 100px; }
.input-md, .input-group.input-md  { width: 360px; }
.input-lg, .input-group.input-lg  { width: 700px; }

.form-control { @extend .input-md; }
.input-sm .form-control { @extend .input-sm; }
.input-lg .form-control { @extend .input-lg; }

textarea.form-control {
  width: auto;
}

.add-btn {
  display: inline-block;
  margin: 0 0 2rem;
  cursor: pointer;
}

.form-actions {
  margin: 3rem 0;

  .double-check {
    padding-left: 2rem;
  }
}

.radio {
  margin-bottom: 0px;
}

.form-actions .btn {
  @extend .btn-lg;
}

.req {
  font-size: 2rem;
  line-height: 1em;
  color: #c83737;
}

.img-group {
  background-color: #f4f4f4;
  margin: 0 -5rem .5rem;
  padding: .5rem 5rem;
}

.preview {
  margin: 0 0 20px;
  max-width: 100%;
  max-height: 500px;
}

.frontend-link {
  padding: 0 0 6rem;
}

/* EDITABLE LISTS */
.editable-list {
  @extend .clearfix;
  padding: 0;

  li {
    width: 300px;
    float: left;
    border: 1px solid #C1C1C1;
    padding: 2rem;
    list-style-type: none;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.18);
    margin: 0 1.5rem 1.5rem 0;
    position: relative;
  }

  li:nth-child(3n) {
    margin-right: 0;
  }

  .list-element {
    position: relative;
  }

  .img-container {
    position: relative;

    .image-edited-message {
      top: 0;
      margin-top: 0;
      height: 101%;
      width: 100%;
      position: absolute;
      background-color: #fcf8e3;
      padding: 70px 40px;
    }
  }

  .image-edited-message {
    position: absolute;
    top: 100px;
    margin-top: -40px;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(217, 237, 247, 0.8);
  }

  .list-element.inactive {
    opacity: 0.2;
  }

  .list-element .call-to-action {
    color: $accent-gold;
    font-weight: bold;
  }

  .btn {
    display: block;
    width: 100%;
    max-width: 320px;
    background-image: linear-gradient(-179deg, #F2F2F2 0%, #D4D4D4 100%);
    border: 1px solid #979797;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 2px 0px 0px #FFFFFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px #FFF;
    text-shadow: 0px 2px 0px rgba(255, 254, 255, 0.5);

    &:hover {
      background-image: linear-gradient(-179deg, #E2E2E2 0%, #C4C4C4 100%);
    }
  }

  .include-field {
    display: block;
    margin: -1rem -2rem 0;
    padding: 0 2rem 1rem;
    border-bottom: 1px solid #C1C1C1;
    max-width: 320px;
  }

  .list-actions {
    margin: 2rem -2rem -1rem;
    padding: 1rem 1rem 0;
    border-top: 1px solid #C1C1C1;
  }

  &.wide {
    li {
      width: 100%;
      float: none;
    }
  }
}

.editable-list img { max-width: 100%;}

.editable-list.half-width li { width: 467px; }
.editable-list.half-width li:nth-child(2n) { margin-right: 0; }
.editable-list.half-width li:nth-child(3n) { margin-right: 1.5rem ; }

/* MODALS */
.modal-footer {
  text-align: left;
}

/* SPECIAL STYLES */

/* CITY INFO */

.city-info {

  .img-group {
    .city-image, .resident-image {
      max-width: 70%;
    }
  }

}

.form-group.affiliate {
  position: relative;

  .btn-danger {
    position: absolute;
    left: 370px;
    top: 25px;
  }
}

.input-sm.input-abr {
  padding-left: 0;
}

/* CONNECTIONS */

.twitter-accounts {
  @include make-row();

  .form-group {
    @include make-sm-column(5);
  }

  .help-block {
    @include make-sm-column(6);
  }

  .help-block-title {
    margin: 47px 0 0;
  }
}

.connections {

  // Note, modified to align image with txt in admin panel, matches user view
  // .list-element img { margin-left: -21px; }

  .list-element h4 {
    font-size: 14px;
    margin: 15px 0 5px;
  }

  .img-container .image-edited-message {
    font-weight: normal;
    color: #232323;
    margin: 0 -20px;
    width: 298px;
    height: 100%;
    padding: 20px 0;
  }

  .input-twitter {
  position: relative;

    .btn-danger {
      position: absolute;
      right: -21px;
      top: 0;
      padding: 6px 10px;
    }
  }

  .editable-list li {
  position: relative;

    .list-actions {
      position: absolute;
      width: 100%;
      bottom: 20px;
    }

    .list-element {
      margin-bottom: 5rem;
    }

  }

}


/* SUPPLIES */

.supplies {
  .editable-list {
    margin-bottom: 7rem;
  }

  .list-element .img-container {
    margin: -20px 0 0 -20px;
  }

  .list-element {
    min-height: 360px;
  }

  img {
    max-width: 299px;
    max-height: 200px;
  }

  .editable-list .img-container .image-edited-message {
    width: 299px;
  }
}

/* MAP & UPDATES */

.map-link-container,
.timelines-container {
  @include make-sm-column(5);
}

.map-link-instructions,
.timelines-instructions {
  @include make-sm-column(6);

  h2 {
    font-size: 1em;
    margin: 5rem 0 0;
  }

  ol {
    @extend .help-block;
    padding: 0 0 0 1.3em;
  }

}

/* ABOUT */

.image-credits {
  @extend .form-inline;
  padding: 0 1.5em;

  .form-group { margin: 1rem 0;}

  .form-group .form-control {
    @extend .input-md;
    margin-right: 1rem;
  }
}

/* CUSTOM QUICK GUIDE */
.custom-quick-guide {

  h2 {
    margin: 6rem 0 0;
  }

  h3 {
    font-size: 16px;
    margin: 3rem 0 0;
  }

  .form-group {
    margin: 1em 0;
  }

  textarea {
    width: 360px;
    height: 70px;
  }

}

/* MOBILE */
@media all and (max-width: 768px) {
  .header .emergency {
    float: none !important;
    margin: -32px -15px 0;
    padding: 15px;
    border-bottom: 1px solid;
  }
}