/* CONNECT */


.connect .opening {
	@include retina-image(/assets/static/header, 750px 417px, jpg);

	h1 {
		margin-top: 2.2rem;	
	}

	div {

		p {
			margin-top: 4.2rem;	
		}
	}
}

.existing-networks {
	@include row();
	padding: 3rem 30px 3.5rem;

	.use {
		@include span-columns(8.5);

		h2 {
			margin: 0 0 1rem;
			color: $dark-grey;
			line-height: 1.2;
		}

		.intro-networks {
			margin: 0;
			color: $body-color;
			@include intro-paragraph;
			@include span-columns(10);

		}
	}
	
	.know {
		@include span-columns(3);
		border-left: solid 1px $highlight;
		padding-left: 1rem;
		margin-top: 50px;

		h3{
			color: $dark-grey;
			margin: 0;
			line-height: 1.4rem;
			font-size: 1.3rem;
			font-family: $font-bold;
		}

		p {
			margin: 0.6rem 0;
		}

		a {
			@include retina-image(/assets/static/read-blog, 30px 30px);
			padding: 2px 0 0 44px;
			background-repeat: no-repeat;
			background-position: 0px 0;
			display: block;
			height: 35px;
			font-family: $font-bold;
		}
	}
}

.networks-list {
	background-color: $subtle-grey;
	@include row();
	padding: 2.5rem 30px;
	color: $text-grey;

	li {
		@include span-columns(4);
		@include omega(3n);
		padding: 6.5rem 3.3rem 0 0;
		position: relative;
		margin-bottom: 3rem;

		strong {
			font-weight: normal;
			color: $highlight;
		}
	}

	h3 {
		margin: 1.3rem 0 0;
		font-size: 1.25rem;
		color: $dark-grey;
		font-family: $font-bold;
		line-height: 1.65rem;
	}

	p {
		margin: 0 0 0.5rem;

		strong {
			display: block;
			color: $dark-grey;
			margin: 2rem 0rem 0rem;
			font-family: $font-bold;
		}
	}

	a:hover {
		color: $dark-grey;
	}

	li.facebook {
		@include icon(#FFF,3.2rem,$facebook-icn,$highlight,0,0);
	}
	li.airbnb {
		@include icon(#FFF,3.2rem,$airbnb-icn,$highlight,0,0);
	}
	li.twitter {
		@include icon(#FFF,3.2rem,$twitter-icn,$highlight,0,0);
	}
	li.neighbors {
		@include icon(#FFF,3.2rem,$neighbors-icn,$highlight,0,0);
	}
	li.drive {
		@include icon(#FFF,3.2rem,$drive-icn,$highlight,0,0);
	}
}

.full-img-article {
	@include row();
	@include retina-image(/assets/static/gardening, 1020px 401px, jpg);
	background-repeat: no-repeat;
	padding: 0 30px;
	text-shadow: 0 0 40px rgba(0, 0, 0, 0.4);

	ul {
		@include row();
		font-size: 2.125rem;
		color: #FFF;
		margin: 4rem 0 3.5rem;

		h3 {
			font-family: $font-bold;
			font-size: 2.125rem;
			line-height: 2.65rem;
			margin-top: 0;
		}

		p {
			font-size: 1.1875rem;
			width: 430px;
		}

		.use {
			@include span-columns(6);
		}

		.what {
			@include span-columns(5.5);
			@include shift(0.5);

			.your-net {
				list-style-type: disc;
				font-size: 1.5rem;
				margin: 0;

				> li {
					margin: 0;

					> ul {
						margin: 0;

						> li {
							font-size: 1.3125rem;
						}

						li:before {
						    content:'\00B7';
						    font-size:50px;
						    vertical-align:middle;
						    line-height:20px;
						    padding-right: 5px;
						}
					}
				}
				
				.net-first {
					@include span-columns(5.5);
				}

			}
		}
	}
}

.learn-more {
	@include row();
	padding: 0 30px;
	margin-bottom: 7.5rem;

	h3 {
		font-size: 2.125rem;
		margin: 6.5rem 0 0;
		color: $dark-grey;
		font-family: $font-bold;
	}

	> p {
		@include intro-paragraph;
		@include span-columns(8);
		margin-top: 0.5rem;
	}

	ul {
		@include row();
		@include span-columns(12);

		li {
			@include row();
			@include span-columns(4);
			@include omega(3n);
			background-position: top left;
			background-repeat: no-repeat; 
			position: relative;
			padding-top: 20px;

			strong {
				font-weight: normal;
				font-family: $font-bold;
				color: #474745;
			}
			
			a {
				background-repeat: no-repeat;
    		width: 100%;				
			}

			p {
				width: 240px;
			}

			.partner-logo {
				display:block;
			}

			#red-cross {
				@include retina-image(/assets/static/redcross, 258px 61px);
				background-position-y: 10px; 
			}

			#nen {
				@include retina-image(/assets/static/nen, 142px 67px);
			}

			#nert {
				@include retina-image(/assets/static/nert, 69px 75px);
			}

			#aux {
				@include retina-image(/assets/static/auxiliary, 72px 72px);
			}

			#council {
				@include retina-image(/assets/static/interfaith, 72px 72px);
			}
		}
	}

}







