/* CONNECT */

.connect .page-intro .big-title,
.about .page-intro .big-title {
	@include retina-image(/assets/static/theapp-title, 960px 490px, jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.app-signup {
	@include outer-container;
}

.btn-rounded {
	margin-top: 0.9rem;
	font-size: 1.5rem;
	color: #FFF;
	padding: 0.5rem 1.3rem;
	display: inline-block;
	background-color: $highlight;
	border-radius: 2rem;
	cursor: pointer;
	min-width: 11.7rem;
	text-align: center;
}

.btn-rounded:hover {
	background-color: $dark-grey;
}

.app-title {

	h3 {
		line-height: 1;
		font-size: 1.31rem;
		color: $dark-grey;
		margin: 0.4rem 0 1rem;
	}

	.coming-soon {
		margin:3.3rem 0 0;
		color: $highlight;
	}
}

.app-video {
	float: right;
	width: 516px;
	height: 361px;
	margin: -3.95rem 0.9rem 0 0;
	@include retina-image(/assets/static/theapp-coming, 516px 361px, jpg);
	background-repeat: no-repeat;
}

.app-details {
	@include span-columns(4.9);
	
	p {
		margin: 0 0 1rem;
	}

	strong {
		font-weight: normal;
		font-family: $font-medium;
		color: $dark-grey;
	}
}

.subscribe-form {
	margin-top: 2.8rem;

	.email {
		width: 17.7rem;
		border: 2px solid #EEE;
		font-size: 1.5rem;
		padding: 0.6rem 1.1rem;
	}
	
	.submit {
		margin: 0 -1.5rem 0 0.3rem;
		padding: 0.7rem 1.5rem;
		background-color: #FFA500;
		border: none;
		color: #FFF;
		font-size: 1.5rem;
		cursor: pointer;
	}

	.submit:hover {
		background-color: $dark-grey;
	}

	#sending-notification{
		display: none;
		text-align: right;
		color: #FFA500;
		text-transform: uppercase;
		font-size: 0.8rem;
		margin-right: 0.5rem;
	}

	.response {
		font-size: 0.81rem;
		margin: 0.25rem 0.25rem 0 0;
		color: $dark-grey;
	}

}

.app-features {
	@include outer-container;
	margin-top: 4.1rem;

	.screen-1,
	.screen-2,
	.screen-3 {
		width: 280px;
		height: 530px;
		@include retina-image(/assets/static/theapp-screen-1, 280px 530px, jpg);
	}

	.screen-2 { 
		@include retina-image(/assets/static/theapp-screen-2, 280px 530px, jpg);
	}

	.screen-3 { 
		@include retina-image(/assets/static/theapp-screen-3, 280px 530px, jpg);
	}
}

.app-features > li {
	@include span-columns(4);
}

.features-detail{
	margin: 1.1rem 1rem 0;

	li {
		position: relative;
		margin-bottom: 1rem;
	}

	li:before {
		position: absolute;
		top: 0rem;
		left: -1.1rem;
		font-size: 1rem;
		content: "\2022";
		color: $highlight;
	}
}