/* CONNECT */


.existing-networks {
	padding: 6rem 30px;

	.use {
		@include span-columns(8.5);

		h2 {
			margin: 0 0 1rem;
			color: $dark-grey;
			line-height: 0.8;
		}

		.intro-networks {
			margin: 0;
			@include intro-paragraph;
			@include span-columns(10);

		}
	}
	
	.know {
		@include span-columns(3);
		border-left: solid 1px $highlight;
		padding-left: 1rem;

		H3{
			color: $dark-grey;
			margin: 0 0 1rem;
			line-height: 1.4rem;
			font-size: 1.3rem;
		}

		p {
			margin: 0.6rem 0;
		}
	}

	.networks-list {
		@include outer-container;
		margin: 2.3rem auto 4.7rem;

		li {
			@include span-columns(4);
			@include omega(3n);
			padding: 4rem 3.3rem 0 0;
			position: relative;

			strong {
				font-weight: normal;
				color: $highlight;
			}
		}

		h3 {
			margin: 1.3rem 0 0;
			font-size: 1.25rem;
			color: $dark-grey;
		}

		p {
			margin: 0 0 0.5rem;
		}

		a:hover {
			color: $dark-grey;
		}

		li:before {
			position: absolute;
			top: 0;
			left: 0;
			font-family: "sf72-icons";
			font-size: 3.3rem;
			color: $body-light;
		}

		li.facebook:before {
			content: "v";
			color: #3b5994;
		}
		li.airbnb:before {
			width: 56px;
			height: 56px;
			top: 12px;
			@include retina-image(/assets/static/airbnb-logo, 56px 56px);
			background-repeat: no-repeat;
			background-position: top left;
			color: #00b0ff;
			content: '';
		}
		li.twitter:before {
			content: "w";
			color: #51a1ca;
		}
	}
}
