/* CONNECT */

.opening {
	@include retina-image(/assets/static/connected, 1020px 420px, jpg);
}

.existing-networks {
	@include row();
	padding: 3.75rem 30px 3.5rem;

	.use {
		@include span-columns(8.5);

		h2 {
			margin: 0 0 1rem;
			color: $dark-grey;
			line-height: 0.8;
		}

		.intro-networks {
			margin: 0;
			color: $body-color;
			@include intro-paragraph;
			@include span-columns(10);

		}
	}
	
	.know {
		@include span-columns(3);
		border-left: solid 1px $highlight;
		padding-left: 1rem;

		H3{
			color: $dark-grey;
			margin: 0 0 1rem;
			line-height: 1.4rem;
			font-size: 1.3rem;
		}

		p {
			margin: 0.6rem 0;
		}
	}
}

.networks-list {
	background-color: $subtle-grey;
	@include row();
	padding: 2.5rem 30px;
	color: $text-grey;

	li {
		@include span-columns(4);
		@include omega(3n);
		padding: 6.5rem 3.3rem 0 0;
		position: relative;

		strong {
			font-weight: normal;
			color: $highlight;
		}
	}

	h3 {
		margin: 1.3rem 0 0;
		font-size: 1.25rem;
		color: $dark-grey;
		font-family: $font-bold;
		line-height: 1.65rem;
	}

	p {
		margin: 0 0 0.5rem;

		strong {
			display: block;
			color: $dark-grey;
			margin: 2rem 0rem 0rem;
			font-family: $font-bold;
		}
	}

	a:hover {
		color: $dark-grey;
	}

	li.facebook {
		@include icon(#FFF,$facebook-icn,$highlight,0,0);
	}
	li.airbnb {
		@include icon(#FFF,$airbnb-icn,$highlight,0,0);
	}
	li.twitter {
		@include icon(#FFF,$twitter-icn,$highlight,0,0);
	}
}

.full-img-article {
	@include row();
	@include retina-image(/assets/static/physical, 1020px 396px, jpg);
	background-repeat: no-repeat;
	padding: 0 30px;

	ul {
		@include row();
		font-size: 2.125rem;
		color: #FFF;
		margin-top: 4rem;

		h3 {
			font-size: 2.125rem;
			line-height: 2.65rem;
		}

		p {
			font-size: 1.1875rem;
			width: 430px;
		}

		.use {
			@include span-columns(6);
		}

		.what {
			@include span-columns(5.5);
			@include shift(0.5);

			.your-net {
				list-style-type: disc;
				font-size: 1.5rem;
				margin: 0;

				> li {
					margin: 0;

					> ul {
						margin: 0;

						> li {
							font-size: 1.3125rem;
						}

						li:before {
						    content:'\00B7';
						    font-size:50px;
						    vertical-align:middle;
						    line-height:20px;
						    padding-right: 5px;
						}
					}
				}
				
				.net-first {
					@include span-columns(5.5);
				}

			}
		}
	}
}

.learn-more {
	@include row();
	padding: 0 30px;

	h3 {
		font-size: 2.125rem;
		margin: 4.5rem 0 0;
		color: $dark-grey;
	}

	> p {
		@include intro-paragraph;
		@include span-columns(8);

	}

	ul {
		@include row();
		@include span-columns(12);
		margin: 3rem 0 7.5rem;

		li {
			@include row();
			@include span-columns(4);	
			background-position: top left;
			background-repeat: no-repeat; 
			position: relative;
			padding-top: 20px;

			strong {
				font-weight: normal;
				font-family: $font-bold;
			}
		}
	}

}







