@font-face {
  font-family: 'misobold';
  src: url('miso-bold-webfont.eot');
  src: url('miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('miso-bold-webfont.woff') format('woff'),
       url('miso-bold-webfont.ttf') format('truetype'),
       url('miso-bold-webfont.svg#misobold') format('svg');
  font-weight: normal;
  font-style: normal;
}