/* FOOTER */
.footer {
	color: #b2b2b2;
	font-family: $font-medium;
	font-size: 0.9rem;

	a:hover {
		color: $dark-grey;
	}
}

.footer-top {
	@include row();
	background-color: lighten( $light-grey, 5% );
	padding: 20px 0 35px;
	
	.by-line {
		@include span-columns(6);
		@include shift(1.7);
		position: relative;
		margin-top: 0.83rem;
		line-height: 1.25;
	}

	.by-line:before {
		font-family: 'sf72-icons';
		font-size: 2rem;
		content: 'y';
		color: $highlight;
		position: absolute;
		left: -4.5rem;
		-webkit-font-smoothing: antialiased;
	}

	.social {
		@include span-columns(3);
		padding: 0.83rem;
	}

}

.footer-bottom {
	background-color: $light-grey;
	font-size: 0.8rem;

	h2 {
		font-size: 0.8rem;
		font-weight: normal;
		color: #969696;
		margin-bottom: 0;
	}
	
	>ul {
		@include row();
		@include shift(0.7);
		margin-top: 0;
		margin-bottom: 0;
		padding: 20px 0 45px;
	}

	li {

		line-height: 22px;

		a {
			color: #b2b2b2;
		}
	}
}

.footer-section {
	@include span-columns(3.8);
	margin-top: 0;
}

