/* FOOTER */
.footer {
	background-color: $light-grey;
	padding: 1.5em;
	margin-top: 2rem;
	color: #b2b2b2;
	font-family: $font-medium;
	font-size: 0.8rem;

	a:hover {
		color: $dark-grey;
	}
}

.by-line {
	@include span-columns(3.5);
	position: relative;
	margin-top: 0.83rem;
	line-height: 1.25;
}

.by-line:before {
	font-family: 'sf72-icons';
	font-size: 1.8rem;
	content: 'y';
	color: $dark-grey;
	position: absolute;
	top: 1rem;
	left: -3.5rem;
	-webkit-font-smoothing: antialiased;
}

.resources-block {
	@include span-columns(4);
	@include shift(0.5);
	font-size: 0.8rem;

	h2 {
		font-size: 0.8rem;
		font-weight: normal;
		color: #969696;
		margin-bottom: 0;
	}

	ul {
		margin-top: 0;
		width: 13.75rem;
	}

	li {
		@include span-columns(6);
		@include omega(2n);
		line-height: 18px;

		a {
			color: #b2b2b2;
		}
	}
}

.privacy-list {
	@include span-columns(4);

	li {
		font-family: $font-regular;
		
		a { 
			color: #b2b2b2;
		}
	}
}
