/*   PLAN   */


.plan {

	h2 {
		font-size: 2.125rem;
		line-height: 1.625rem;
		color: $dark-grey;
	}

	.em-plan {
		@include retina-image(/assets/placeholder-plan, 750px 417px, jpg);

		h1 {
			margin-top: 2.5rem;
		}

		div {

			p {
				font-size: 1.1475rem;
				line-height: 1.625rem;
				margin-top: 3rem;
			}
		}
	}
}
	
.meet-up,
.plan-basics,
.print-this,
.stay-tuned {
	padding: 0 30px;
}

.meet-up {
	@include row();
	margin: 3.75rem 0 6rem;

	h2,
	p {
		margin: 0 0 1rem;
	}

	p {
		@include span-columns(8.5);
		font-size: 1.1875rem;

	}
}

.plan-basics {
	@include retina-image(/assets/placeholder-plan-basics, 510px 636px, jpg);
	background-repeat: no-repeat;
	background-position: right;
	@include row();
	height: 510px;
	margin: 3rem 0 2rem;
	background-color: $subtle-grey;

	h2 {
		font-size: 1.3125rem;
		margin-top: -3rem;
	}

	ul {
		@include span-columns(3.6);
		@include shift(1.7);
		font-size: 1.1875rem;

		li {
			margin: 2.5rem 0 0;
			position: relative;

			strong {
				font-weight: normal;
				color: $dark-grey;
				font-family: $font-bold;
			}

		}

		.select {
			@include icon(#FFF,3.5rem,'J',$highlight,8px,-120px);
			@include icon-mini;
		}

		.pick {
			@include icon(#FFF,3.5rem,'L',$highlight,8px,-120px);
			@include icon-mini;
		}

		.agree {
			@include icon(#FFF,3.5rem,'K',$highlight,8px,-120px);
			@include icon-mini;
		}

	}
}

.print-this {
	margin: 5rem 0 2rem;
	height: 290px;
	@include row();
	@include retina-image(/assets/static/plan-print, 300px 190px, jpg);
	background-repeat: no-repeat;
	background-position-y: 30px;
	background-position-x: 660px;

	h2 {
		margin-bottom: 0;
	}

	p {
		@include row();
		@include span-columns(7.5);
		font-size: 1.1875rem;
	}

	.pdf-languages-trigger {
		font-family: $font-bold;
		@include span-columns(5);
		@include shift(0.5);
		position: relative;
	}

	.pdf-languages-trigger:before {
		position: absolute;
		display: block;
		left: -1.1em;
		top: -0.2rem;
		font-family: 'sf72-icons';
		content: 'q';
		font-size: 2.3em;
		-webkit-font-smoothing: antialiased;
	}
}

.stay-tuned {
	background-color: $subtle-grey;
	padding: 4rem 30px;
	margin-bottom: 3rem;
	@include row();
	@include retina-image(/assets/static/app, 147px 210px);
	background-repeat: no-repeat;
	background-position-y: 90px;
	background-position-x: 658px;

	h2 {
		margin-bottom: 0;
	}

	p {
		@include row();
		@include span-columns(7.5);
		font-size: 1.1875rem;
	}

	ul {
		@include row();
		@include span-columns(12);
		
		li {
			@include span-columns(4);
			position: relative;
			height: 170px;
			padding-top: 80px;
			margin-top: 2rem;

			p {
				@include row();
				@include span-columns(9.5);
				font-size: 1rem;
			}

			.geo {
				@include icon(#FFF,3.5rem,'N',$highlight,0,0);
				@include icon-mid;
			}
			.sms {
				@include icon(#FFF,3.5rem,'V',$highlight,0,0);
				@include icon-mid;
			}
			.shelter {
				@include icon(#FFF,3.5rem,'M',$highlight,0,0);
				@include icon-mid;
			}
		}
	}

}

.plan .basics-slider {
	margin-top: 75px;
}
