/* PREPARE */

.prepare .page-intro .big-title {
	@include retina-image(/assets/static/prepare-title, 960px 490px, jpg);
	background-position: left top;
	text-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.prepare .get-connected {
	color: $highlight;
}

.prepare .main-intro {
	margin-bottom: -0.6rem;
}

.prepare .main-intro p {
	width: 100%;
}

.make-plan {

	margin-top: 3rem;

	a {
		color: $highlight-dark;
		font-family: $font-bold;
		display: inline-block;
		position: relative;
		padding-right: 1em;
		padding-left: 1.5em;
	}

	a:hover {
		color: $dark-grey;
	}

	a:after {
		position: absolute;
		right: 0;
		top: 0.3em;
		font-family: 'sf72-icons';
		content: 's';
		font-size: 0.7em;
	}

	a:before {
		position: absolute;
		left: 0;
		top: -0.3em;
		font-family: 'sf72-icons';
		content: 'q';
		font-size: 1.3em;
		-webkit-font-smoothing: antialiased;
	}
}

.col-2 {
	@include outer-container;
}

.col-2 li {
	@include span-columns(6);
	@include omega(2n);
}

.prepare-sections {
	margin-top: 3.8rem;

	a {
		height: 26.7rem;
		@include retina-image(/assets/static/prepare-stories-2, 960px 420px, jpg);
		background-repeat: no-repeat;
		display: block;
		color: #FFF;
		padding: 0.8rem 1.8rem 1rem;
		position: relative;
	}

	a.prepare-things {
		@include retina-image(/assets/static/prepare-supplies-1, 960px 420px, jpg);
	}
	

	h2 {
		margin: 1.5rem 0 0;
		text-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
	}

	p {
		margin: 0.4rem 22rem 0 0;
		font-size: 1.187rem;
		line-height: 1.35;
		text-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
	}

	strong {
		display: inline-block;
		position: relative;
		margin-top: 1.2rem;
		padding: 0.5rem 2rem 0.5rem 1rem;
		font-family: $font-medium;
		font-size: 1.187rem;
		background-color: $highlight;
		color: #FFF;
	}

	strong:after {
		position: absolute;
		top: 1.6em;
		right: 1.2rem;
		font-family: 'sf72-icons';
		speak: none;
		content: 's';
		font-size: 0.5em;
	}

	a:hover strong,
	strong:hover {
		background-color: $dark-grey;
	}
}

a.checklist {
	font-size: 1.1rem;
	text-decoration: underline;
	padding-left: 1.8rem;
	margin-top: 1rem;
	display: block;
	position: relative;
}

a.checklist:before {
	font-family: 'sf72-icons';
	speak: none;
	content: 'q';
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.4em;
	top: -0.3em;
}

.basics-intro {
	margin-top: 3.6rem;
}

.basics-intro h2 {
	margin: 0 1.8rem;
	font-size: 2.25em;
	line-height: 1.25;
	color: $dark-grey;
}

.basics-intro p {
	margin: 0.2rem 1.9rem;
	font-size: 1.3em;
}

.basics-block {
	background-color: $light-grey;
	padding: 2rem 2rem 0.6rem;
	margin: 1.2rem auto 1.8rem;
	@include outer-container;
}

.quick-guide-trigger,
.basics-video {
	@include span-columns(6);
}

.basics-video {
	@include omega;
}

.basics-video strong {
	padding-left: 0.8rem;
	font-family: $font-medium;
	color: $dark-grey;
}

.talk-to-friends {
	@include retina-image(/assets/static/prepare-sf72, 300px 300px, jpg);
	background-position: 43.5rem 0;
	background-repeat: no-repeat;
	margin-top: 4.8rem;
	background-size: 200px;

	h2 {
		color: $dark-grey;
		margin-bottom: 0;
	}

	p {
		@include intro-paragraph;
		margin: 0 22rem 1rem 0;
	}

	.coming-kit h4 {
		margin-bottom: 0;
		font-size: 0.8rem;
		font-family: $font-bold;
		color: $highlight-dark;
	}

	p.small {
		font-size: 0.8rem;
		font-family: $font-bold;
		color: $dark-grey;
	}
}

/* STORIES */

.stories .intro,
.things .intro {
	width: 1020px;

	.intro-video {
		@include row();
	}

	.personal-look {
		@include row();
		padding: 0 30px;

		p {
			@include span-columns(10);
			line-height: 1.6875rem;
			font-size: 1.1875rem;
			margin-top: 0.8rem;
		}
	}

	.mobile-title {
		display: none;
	}

	h2 {
		font-size: 2.125rem;
		color: $dark-grey;
		margin: 6rem 0 0;
	}
}

.story-list {
	margin-top: 2rem;
	padding: 0 30px;

	li {
		margin-bottom: 1.7rem;
		@include icon($highlight,$video-play,rgba(255, 255, 255, 0.7),20%,32%);
		position: relative;

		.quote-dialog {
			height: 190px;
			width: 300px;
			opacity: 0;
			margin-bottom: 1rem;
			padding: 1rem;
			font-family: $font-medium;
			background-color: $highlight;
			color: #FFF;
			position: absolute;
			@include transition (opacity 0.2s ease-in);

			.fake-link {
				display: block;
				position: absolute;
				bottom: 1rem;
				left: 1rem;
				padding-right: 0.8em;
			}

			.fake-link:after {
				position: absolute;
				right: 0;
				top: 0.4em;
				font-size: 0.7em;
				font-family: 'sf72-icons';
				content: 's';
			}

		}

		a:hover {
			div.quote-dialog {
				opacity: 1;
			}
		}
	}
}
.basic-guide {
	@include row();
	padding: 0 30px;

	h3 {
		@include span-columns(9.7);
		@include shift(1);
		font-size: 1.1875rem;
		line-height: 1.6875rem;
		margin-top: 4rem;
		margin-bottom: 3.5rem;
	}
	
	h3:before {
		font-family: 'sf72-icons';
		font-size: 2.7rem;
		content: 'n';
		color: $highlight-dark;
		position: relative;
		left: -4.5rem;
		top: 3rem;
		display: block;
		-webkit-font-smoothing: antialiased;
	}
}

.basics-slider {
	padding: 0 30px;
}

.slider-header {
	background-color: $dark-grey;
	height: 3.8rem;
	overflow: hidden;
}

.slider-body {
	background-color: $light-grey;
	height: 15.5rem;
	margin-bottom: 6.5rem;
}

.story-data {
	margin-top: 0.5rem;
}

.story-data h5,
.story-data p {
	font-size: 0.87rem;
	line-height: 1.2;
	font-family: $font-bold;
	color: $dark-grey;
}

.story-data p {
	margin: 0;
	color: $body-light;
}

.story-type {
	height: 3rem;
	float: left;
	width: 2.1rem;
}

.story-type span {
	font-size: 1.6rem;
	display: block;
	color: $highlight-dark;
}

.story-type .icon-disaster-hurricane {
	padding-left: 0.5rem;
	font-size: 1.5rem;
}

.story-type .icon-disaster-connection {
	color: $highlight;
	font-size: 1.2rem;
}

.story-type .icon-disaster-flood {
	font-size: 1.4rem;
}

.story-type .icon-disaster-other {
	font-size: 1.5rem;
}

.story-type .icon-disaster-earthquake {
	font-size: 1.5rem;
}

.story-type .icon-disaster-radiation {
	font-size: 1.5rem;
	padding-left: 0.2rem;
}


.person-type {
	display: block;
}

/* STORY DETAIL */

.story-detail .main-intro {
	margin-bottom: 3.8rem;

	h2 {
		line-height: 1.12;
	}
}

.story-main-details {
	margin-bottom: 0.5rem;
	font-size: 2.25rem;
	font-family: $font-bold;
	color: $body-color;
	line-height: 1.12;
	width: 960px;
}

.story-location {
	font-weight: normal;
	font-family: $font-medium;
	color: $dark-grey;
	font-size: 0.875rem;
}

.story-description {
	margin-top: 1.8rem;

	h3 { 
		margin-bottom: 0;
		color: $dark-grey;
	}
	p { margin-top: 0;}
}


.main-quote {
	@include span-columns(3.5);
	@include shift(.5);
	@include omega;
	padding: 0 0.5rem 0 1.5rem;
	margin-top: 10.85rem;
	font-family: $font-medium;
	font-size: 1rem;
	line-height: 1.45;
	color: $highlight;
	position: relative;
}

.main-quote:after {
	position: absolute;
	left: 0.35rem;
	top: 0;
	height: 100%;
	border-left: 2px solid $highlight;
	content: '';
}

.needed-list,
.story-list {
	@include outer-container;
}

.story-list li {
	@include span-columns(4);
	@include omega(3n);
}

.needed h3,
.similar h3 {
	margin: 0;
	color: $dark-grey;
	font-family: $font-bold;
}

.needed-list {
	@include row(table);
	margin-bottom: 4.5rem;

	li {
		@include span-columns(4, table);
		position: relative;
		height: 100%;
	}

	h4 {
		margin: 0.2rem 0 0;
		font-family: $font-bold;
		color: $dark-grey;
	}

	p {
		font-family: $font-regular;
		margin: 0 0 3.2rem;
		text-indent: -0.5em;
	}

	a {
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		padding-right: 0.8em;
		font-size: 1.5rem;
		font-family: $font-bold;
		color: $highlight-dark;
	}

	a:hover {
		color: $dark-grey;
	}

	a:before {
		position: absolute;
		right: 0;
		top: 0.6em;
		font-size: 0.6em;
		font-family: 'sf72-icons';
		content: 's';
	}
}

.needed-list.two-cols li{
	@include span-columns(6, table);
	text-align: center;

	img {
		margin: 0 auto;
	}

	h4,
	p,
	a {
		text-align: left;
	}
}

/* SUPPLIES */

.things .intro {
	@include retina-image(/assets/static/supplies-title, 960px 460px, jpg);
}

.action-bar {
	@include outer-container;
	@include reset-all()
}

.action-bar .tabs {
	@include span-columns(8.8);

	li {
		@include omega(3n);
		text-align: center;
		display: inline-block;
		margin: 1.4rem 0.9rem 0.6rem 0;
		font-family: $font-medium;
		font-size: 1.6rem;
		position: relative;

		a {
			color: $body-light;
			display: block;
			padding: 0.6rem 0.2rem;
			border: 1px solid #C2C2C2;
			width: 12.6rem;
		}
	}

	li:hover a, li.active a {
		color: $highlight;
	}

	li.essentials-trigger:hover a, li.essentials-trigger.active a {
		color: $highlight-dark;
	}

	li.active:before,
  	li:hover:before,
  	li.active:after,
	li:hover:after {
		top: 59px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	li.active:after,
	li:hover:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #FFFFFF;
		border-width: 14px;
		left: 50%;
		margin-left: -14px;
	}

	li.active:before,
  	li:hover:before {
		border-color: rgba(44, 44, 44, 0);
		border-top-color: #9B9B9B;
		border-width: 15px;
		left: 50%;
		margin-left: -15px;
	}
}

.action-bar .list-download {
	@include span-columns(3.2);
	margin-top: 2rem;

	a {
		display: block;
		width: 12.6rem;
		padding: 1.6rem 0.2rem 1.1rem 3rem;
		font-size: 1.1rem;
		position: relative;
	}

	a:hover {
		color: $dark-grey;
		cursor: pointer;
	}
}

.list-download a:before {
	font-family: 'sf72-icons';
	content: "q";
	font-size: 1.5rem;
	position: absolute;
	top: 1.1rem;
	left: 1.2rem;
	-webkit-font-smoothing: antialiased;
}

.tabs-content {
	margin-top: 0;
}

.tab-tip{
	@include intro-paragraph;
	margin-top: 0.2em;
	margin-right: 14rem;
}

.things-list,
.kits-list {
	@include outer-container;
}

.things-list li,
.kits-list li {
	@include span-columns(4);
	@include omega(3n);
}

.things-list {
	margin-top: 3.1rem;
}

.things-list li {
	margin-bottom: 4.5rem;

	.use-case-dialog {
		opacity: 0;
		width: 300px;
		height: 250px;
		margin-bottom: -52px;
		background-color: $highlight;
		padding: 1rem;
		font-family: $font-medium;
		color: #FFF;
		z-index: 2;
		position: absolute;
		@include transition (opacity 0.2s ease-in);
	}
}

.things-list.essential li .use-case-dialog {
	background-color: $highlight-dark;
}

.things-list li:hover {
	div.use-case-dialog {
		opacity: 1;
	}
}

.things-list h4 {
	margin: 0.3rem 0 0;
	font-family: $font-medium;
	color: $dark-grey;
	font-size: 1rem;
	text-align: center;
}

.overlay-text {
	display: none;
}

.kits h2, .kits p {
	margin-left: 1.8rem;
}

.kits h2 {
	margin: 1.4rem 0 0;
	line-height: 1;
	color: $dark-grey;
}

.kits p {
	@include intro-paragraph;
	margin: 0.8rem 15rem 2.5rem 0;
}

.kits-list a {
	display: block;
}

.kits-list span {
	display: block;
	line-height: 1;
	font-family: $font-medium;
	color: $dark-grey;
	text-align: center;
}