.basics {
	border-top: 1px solid $light-grey;
	padding-top: 90px;
}

.quick-guide-page .basics {

	h4 {
		margin: 4.3rem 0 0 7.9rem;
		font-family: $font-medium;
		font-size: 1em;
		font-weight: normal;
	}

	> h2 {
		margin: 0.1rem 11.8rem 0;
		font-family: $font-bold;
		font-size: 1.55rem;
		color: $highlight-dark;
	}

	.event-before {
		color: $highlight;
	}

	.event-after{
		margin-top: 2.2rem;
		color: $highlight;
	}

}

.quick-guide-page .quick-guide {
	margin: 0 13rem 0 3.9rem;
	
	h2 {
		margin: 0;
		font-size: 1.55rem;
	}

	li {
		margin-bottom: 1.4rem;
	}

	li:before {
		margin: -0.6rem 0 0 -4.7rem;
		padding: 0.5rem 1.3rem;
		font-size: 1.5rem;
	}

	p {
		margin: 0.2rem 0 0;
		font-size: 1rem;
		line-height: 1.4rem;
		color: $dark-grey;
	}
}

.quick-guide.second li:before,
.quick-guide.list-before li:before {
	background-color: $highlight
}

.quick-guide-share {
	margin: 3.6rem 0 1.9rem;

	.share-options {
		float: right;
		margin: 0 13.1rem 0 0;

		li {
			float: left;

			a {
				display: block;
				text-indent: -9999px;
				position: relative;
				height: 32px;
				width: 32px;
				color: $body-light;
				font-size: 1.6rem;
				margin-left: 1rem;
				cursor: pointer;
			}

			a:before {
				position: absolute;
				top: 0;
				left: 0;
				text-indent: 0;
				font-family: 'sf72-icons';
				content: 'w';
				-webkit-font-smoothing: antialiased;
			}

			a.facebook:before { content: 'v'; }
			a.print:before { content: 'u'; }
			a.email:before { content: 't'; }

			a:hover {
				color: $dark-grey;
			}
		}


	}

	p {
		margin: 0.6rem 0;
		padding-left: 11.9rem;
		font-family: $font-bold;
		font-size: 1rem;
		line-height: 1.3;
		color: $highlight;
	}
}