.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
}

.bx-wrapper .bx-pager {
	position: absolute;
	bottom: -30px;
	width: 100%;
	text-align: center;
}

.bx-pager-item {
	display: inline-block;
}

.bx-pager a {
	border: 1px solid $body-color;
	text-indent: -9999px;
	display: block;
	width: 13px;
	height: 13px;
	margin: 1rem 6px;
	outline: 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.bx-pager a.active {
	background-color: $highlight;
	border-color: $highlight;
}

.bx-controls-direction a {
	color: #bfbfbf;
	position: absolute;
	top: 5.9rem;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
	font-size: 2.5rem;
}

.bx-controls-direction a:before {
	font-family: 'sf72-icons';
	position: absolute;
	top: 0;
	left: 0;
	content: 's';
	text-indent: 0;
}

.bx-controls-direction a.bx-prev { 
	left: 1.8rem;
}

.bx-controls-direction a.bx-next { 
	right: 1.2rem;
}

.bx-controls-direction a.bx-prev:before { 
	@include transform(rotate(180deg));
}

.bx-controls-direction a:hover,
.bx-controls-direction a:active {
	color: $dark-grey;
}

.bx-controls-direction a.disabled {
	color: #d3d3d3;
	cursor: default;
}