.stories {

  .intro-mobile {
    display: none;
  }
  
  .opening {
    @include retina-image(/assets/placeholder/story-1, 750px 417px, jpg);
    background-size: contain;

    div {
      float: left;
      margin-left: 0;
    }

    .story-about {
      @include span-columns(8.62938893);
      float: right;
      margin: 310px 0 0 2.357%;

      h1 {
        font-size: 48px;
        margin: 0;
        padding: 0;
        float: none;
        width: 100%;
      }

      h2 {
        font-size: 21px;
        color: #FFF;
        text-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
        margin: -0.5rem 0 0;
      }
    }
  }

  .personal-look {
    @include row();
    padding: 0 30px;

    h2 {
      font-size: 2.125rem;
      color: $dark-grey;
      margin: 2.5rem 0 0;
    }

    p {
      @include span-columns(10);
      line-height: 1.6875rem;
      font-size: 1.1875rem;
      margin-top: 0.2rem;
    }    
  }
}

.story-list {
  
  @include clearfix();
  margin-top: 2rem;
  padding: 0 30px;

  li {
    @include span-columns(6);
    @include omega(2n);
    margin-bottom: 1.7rem;
    position: relative;
  }

  img {
    width: 100%;
  }

}

/* VIDEO POPUP */

.video-container {
  cursor: pointer;

  &:before {
    position: absolute;
    top: 18%;
    left: 42%;
    height: 20px;
    width: 62px;
    border-radius: 40px;
    padding: 11px 4px 46px 10px;
    font-family: 'sf72-icons';
    color: #fbb03b;
    content: "I";
    font-size: 2.35rem;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    pointer-events: none;
  }
}

.opening.video-container:before {
  padding: 10px 4px 10px 10px;
  top: 38%;
  left: 57%;
}

.modal-container {
  position: fixed;
}

.modal-video {
  overflow: hidden;
  max-height: 100%;
}

.modal-video iframe {
  width: 800px;
  height: 450px;
}

.story-data {
  margin-top: 0.5rem;

  h4,
  h5 {
    margin: 0;
    @include col-title();
  }
  
  p {
    margin: 0;
    color: #9F9F9F;
    font-weight: normal;
  }

  a {
    position: relative;
    display: inline-block;
    margin: 1.5rem 0 2.5rem;
    padding-right: 0.8em;
    font-size: 1.5rem;
    font-family: $font-bold;
    color: $highlight-dark;
  }

  a:hover {
    color: $dark-grey;
  }

  a:before {
    position: absolute;
    right: 0;
    top: 0.6em;
    font-size: 0.6em;
    font-family: 'sf72-icons';
    content: 's';
  }

}

.story-type {
  height: 3rem;
  float: left;
  width: 2.1rem;
}

.story-type span {
  font-size: 1.6rem;
  display: block;
  color: $highlight-dark;
}

.story-type .icon-disaster-hurricane {
  padding-left: 0.5rem;
  font-size: 1.5rem;
}

.story-type .icon-disaster-connection {
  color: $highlight;
  font-size: 1.2rem;
}

.story-type .icon-disaster-flood {
  font-size: 1.4rem;
}

.story-type .icon-disaster-other {
  font-size: 1.5rem;
}

.story-type .icon-disaster-earthquake {
  font-size: 1.5rem;
}

.story-type .icon-disaster-radiation {
  font-size: 1.5rem;
  padding-left: 0.2rem;
}

.person-type {
  display: block;
}

.statement {
  @include row();
  background-color: #eaeaea;
  padding: 3rem 30px 3.5rem;

  .description {
    @include span-columns(8.5);
  }

  .quote {
    @include span-columns(3);
    border-left: solid 1px $highlight;
    padding-left: 1rem;

    p { color: $highlight }
  }

  h2 {
    @include col-title();
  }
}

/* STORY DETAIL */

.story-detail .main-intro {
  margin-bottom: 3.8rem;
  @include row();
  @include span-columns(8);

  h2 {
    line-height: 1.12;
  }
}

.story-detail .intro-video {
  
  iframe {
    width: 100%;
    height: 540px;
  }
}

.story-detail {
  
  .intro-row, {
    padding: 0 30px;
  }
}

.story-main-details {
  margin-bottom: 0.5rem;
  font-size: 2.25rem;
  font-family: $font-bold;
  color: $body-color;
  line-height: 1.12;
  width: 960px;
}

.story-location {
  font-weight: normal;
  font-family: $font-medium;
  color: $dark-grey;
  font-size: 0.875rem;
}

.story-description {
  margin-top: 1.8rem;

  h3 { 
    margin-bottom: 0;
    color: $dark-grey;
  }
  p { margin-top: 0;}
}


.main-quote {
  @include span-columns(3.5);
  @include shift(.5);
  @include omega;
  padding: 0 0.5rem 0 1.5rem;
  margin-top: 10.85rem;
  font-family: $font-medium;
  font-size: 1rem;
  line-height: 1.45;
  color: $highlight;
  position: relative;
}

.main-quote:after {
  position: absolute;
  left: 0.35rem;
  top: 0;
  height: 100%;
  border-left: 2px solid $highlight;
  content: '';
}

.needed-list,
.story-list {
  padding: 0 30px;
}

.needed h3,
.similar h3 {
  margin: 0;
  color: $dark-grey;
  font-family: $font-bold;
  padding: 0 30px;
}

.needed-list {
  @include row(table);
  margin-bottom: 4.5rem;
  position: relative;

  li {
    @include span-columns(4, table);
    position: relative;
    height: 100%;
  }

  h4 {
    margin: 0.2rem 0 0;
    font-family: $font-bold;
    color: $dark-grey;
  }

  p {
    font-family: $font-regular;
    margin: 0 0 3.2rem;
    text-indent: -0.5em;
  }

  a {
    position: absolute;
    bottom: 0;
    display: block;
    padding-right: 0.8em;
    font-size: 1.5rem;
    font-family: $font-bold;
    color: $highlight-dark;
  }

  a:hover {
    color: $dark-grey;
  }

  a:before {
    position: absolute;
    right: 0;
    top: 0.6em;
    font-size: 0.6em;
    font-family: 'sf72-icons';
    content: 's';
  }
}

.similar {
  @include row();
  margin-bottom: 60px;
}

.needed-list.two-cols li{
  @include span-columns(6, table);
  text-align: center;

  img {
    margin: 0 auto;
  }

  h4,
  p,
  a {
    text-align: left;
  }
}