.main-content.landing
  %h1 Welcome to the<br />City72 Content Editor
  %p <br />Add your content for each page to create your custom City72 site.
  %p <em>In an emergency, to change the homepage to the<br />Map and Updates page, use the button at the top right.</em>