<!DOCTYPE html>
<html>
<head>
  <title>SF72</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://fast.fonts.com/jsapi/b404785f-5631-4301-ae34-2e1da5d32f39.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
